<section class="grading_sec bg_theme">
    <div class="cus_container">
        <div class="sec_title">
            <span>{{"BasicText.gradingTitle" | translate}}</span>
            <img src="../../../assets/images/svg/title_diaIcon.svg" class="img-fluid" alt="diamond icon">
        </div>
        <div class="grid_wrap">
            <table width="100%">
                <thead>
                    <tr>
                        <td class="text-center">{{'BasicText.Carat'| translate}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">
                            <h5>Size Range 0.30 up</h5>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table width="100%">
                <thead>
                    <tr>
                        <td class="text-center">{{'BasicText.Clarity'| translate}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">
                            <h5>FL, IF, VVS1, VVS2, VS1, VS2, SI1, SI2, SI3, I1, I2, I3</h5>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table width="100%">
                <thead>
                    <tr>
                        <td class="text-center">{{'BasicText.Color'| translate}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">
                            <h5>D, E, F, G, H, I, J, K, L, M, N, O-P, Q-R, W-X, Y-Z</h5>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table width="100%">
                <thead>
                    <tr>
                        <td colspan="3" class="text-center">{{'BasicText.Cut'| translate}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="33.33%"><i>#</i></td>
                        <td width="33.33%"><i>CUT Grades</i></td>
                        <td width="33.33%"><i>Description</i></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>EX</td>
                        <td>Excellent</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>VG</td>
                        <td>Very Good</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>GD</td>
                        <td>Good</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>F</td>
                        <td>Fair</td>
                    </tr>
                </tbody>
            </table>
            <table>
                <thead>
                    <tr>
                        <td colspan="3" class="text-center">{{'BasicText.Polish'| translate}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="33.33%"><i>#</i></td>
                        <td width="33.33%"><i>Polish</i></td>
                        <td width="33.33%"><i>Description</i></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>EX</td>
                        <td>Excellent</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>VG</td>
                        <td>Very Good</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>GD</td>
                        <td>Good</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>F</td>
                        <td>Fair</td>
                    </tr>
                </tbody>
            </table>
            <table>
                <thead>
                    <tr>
                        <td colspan="3" class="text-center">{{'BasicText.Symmetry'| translate}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="33.33%"><i>#</i></td>
                        <td width="33.33%"><i>Symmetry</i></td>
                        <td width="33.33%"><i>Description</i></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>EX</td>
                        <td>Excellent</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>VG</td>
                        <td>Very Good</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>GD</td>
                        <td>Good</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>F</td>
                        <td>Fair</td>
                    </tr>
                </tbody>
            </table>

            <table>
                <thead>
                    <tr>
                        <td colspan="2" class="text-center">{{'BasicText.Fluorescence'| translate}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="33.33%"><i>FL Grades</i></td>
                        <td><i>Parameters</i></td>
                    </tr>
                    <tr>
                        <td>NON</td>
                        <td>None Fluroescence</td>
                    </tr>
                    <tr>
                        <td>FNT</td>
                        <td>Faint Fluroescence</td>
                    </tr>
                    <tr>
                        <td>MED</td>
                        <td>Medium Fluroescence</td>
                    </tr>
                    <tr>
                        <td>STG</td>
                        <td>Strong Fluroescence</td>
                    </tr>
                    <tr>
                        <td>VSTG</td>
                        <td>Very Strong Fluroescence</td>
                    </tr>
                </tbody>
            </table>

            <table>
                <thead>
                    <tr>
                        <td colspan="3" class="text-center">{{'BasicText.BLACK ON SIDE/CROWN(BC)'| translate}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="25%"><i>#</i></td>
                        <td width="25%"><i>Grade</i></td>
                        <td><i>Description</i></td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>BC0</td>
                        <td>NO BLACK ON CROWN</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>BC1</td>
                        <td>PINPOINT BLACK ON CROWN</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>BC2</td>
                        <td>MEDIUM BLACK ON CROWN</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>BC3</td>
                        <td>HEAVY BLACK ON CROWN</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="blank">&nbsp;</td>
                    </tr>
                </tbody>
            </table>

            <table>
                <thead>
                    <tr>
                        <td colspan="3" class="text-center">{{'BasicText.COLOR SHADE'| translate}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="33.33%"><i>#</i></td>
                        <td width="33.33%"><i>Grades</i></td>
                        <td><i>Description</i></td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>NO</td>
                        <td>NO MIXTINGE</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>LMT</td>
                        <td>LIGHT MIXTINGE</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>MMT</td>
                        <td>MEDIUM MIXTINGE</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>HMT</td>
                        <td>HEAVY MIXTINGE</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="blank">&nbsp;</td>
                    </tr>
                </tbody>
            </table>

            <table>
                <thead>
                    <tr>
                        <td colspan="3" class="text-center">{{'BasicText.MILKY'| translate}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="33.33%"><i>#</i></td>
                        <td width="33.33%"><i>Grades</i></td>
                        <td width="33.33%"><i>Description</i></td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>NO</td>
                        <td>NO MILKY</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>LML</td>
                        <td>LIGHT MILKY</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>MML</td>
                        <td>MEDIUM MILKY</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>HML</td>
                        <td>HEAVY MILKY</td>
                    </tr>
                </tbody>
            </table>

            <table>
                <thead>
                    <tr>
                        <td colspan="3" class="text-center">{{'BasicText.BROWN'| translate}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="33.33%"><i>#</i></td>
                        <td width="33.33%"><i>Grades</i></td>
                        <td width="33.33%"><i>Description</i></td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>NO</td>
                        <td>NO BROWN</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>LBR</td>
                        <td>LIGHT BROWN</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>MBR</td>
                        <td>MEDIUM BROWN</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>HBR</td>
                        <td>HEAVY BROWN</td>
                    </tr>
                </tbody>
            </table>

            <table>
                <thead>
                    <tr>
                        <td colspan="3" class="text-center">{{"BasicText.GREEN" | translate}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="33.33%"><i>#</i></td>
                        <td width="33.33%"><i>Grades</i></td>
                        <td width="33.33%"><i>Description</i></td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>NO</td>
                        <td>NO GREEN</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>LGR</td>
                        <td>LIGHT GREEN</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>MGE</td>
                        <td>MEDIUM GREEN</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>HGE</td>
                        <td>HEAVY GREEN</td>
                    </tr>
                </tbody>
            </table>

            <table>
                <thead>
                    <tr>
                        <td colspan="3" class="text-center">{{'BasicText.BLACK TABLE'| translate}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="25%"><i>#</i></td>
                        <td width="25%"><i>Grades</i></td>
                        <td><i>Description</i></td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>BT0</td>
                        <td>NO BLACK ON TABLE</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>BT1</td>
                        <td>PINPOINT BLACK ON TABLE</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>BT2</td>
                        <td>MEDIUM BLACK ON TABLE</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>BT3</td>
                        <td>HEAVY BLACK ON TABLE</td>
                    </tr>
                </tbody>
            </table>

            <table>
                <thead>
                    <tr>
                        <td colspan="3" class="text-center">{{'BasicText.OPEN TABLE'| translate}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="25%"><i>#</i></td>
                        <td width="25%"><i>Grades</i></td>
                        <td><i>Description</i></td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>OT0</td>
                        <td>NO OPEN ON TABLE</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>OT1</td>
                        <td>SMALL OPEN ON TABLE</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>OT2</td>
                        <td>MEDIUM OPEN ON TABLE</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>OT3</td>
                        <td>HEAVY OPEN ON TABLE</td>
                    </tr>
                </tbody>
            </table>

            <table>
                <thead>
                    <tr>
                        <td colspan="3" class="text-center">{{'BasicText.OPEN CROWN'| translate}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="25%"><i>#</i></td>
                        <td width="25%"><i>Grades</i></td>
                        <td><i>Description</i></td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>OC0</td>
                        <td>NO OPEN ON CROWN</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>OC1</td>
                        <td>SMALL OPEN ON CROWN</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>OC2</td>
                        <td>MEDIUM OPEN ON CROWN</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>OC3</td>
                        <td>HEAVY OPEN ON CROWN</td>
                    </tr>
                </tbody>
            </table>

            <table>
                <thead>
                    <tr>
                        <td colspan="3" class="text-center">{{'BasicText.OPEN GIRDLE'| translate}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="25%"><i>#</i></td>
                        <td width="25%"><i>Grades</i></td>
                        <td><i>Description</i></td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>OG0</td>
                        <td>NO OPEN ON GRIDLE</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>OG1</td>
                        <td>SMALL OPEN ON GRIDLE</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>OG2</td>
                        <td>MEDIUM OPEN ON GRIDLE</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>OG3</td>
                        <td>HEAVY OPEN ON GRIDLE</td>
                    </tr>
                </tbody>
            </table>

            <table>
                <thead>
                    <tr>
                        <td colspan="3" class="text-center">{{'BasicText.OPEN PAVILLION'| translate}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="25%"><i>#</i></td>
                        <td width="25%"><i>Grades</i></td>
                        <td><i>Description</i></td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>OP0</td>
                        <td>NO OPEN ON PAVILLION</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>OP1</td>
                        <td>SMALL OPEN ON PAVILLION</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>OP2</td>
                        <td>MEDIUM OPEN ON PAVILLION</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>OP3</td>
                        <td>HEAVY OPEN ON PAVILLION</td>
                    </tr>
                </tbody>
            </table>

            <table>
                <thead>
                    <tr>
                        <td colspan="3" class="text-center">{{'BasicText.NATURAL ON CROWN'| translate}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="25%"><i>#</i></td>
                        <td width="25%"><i>Grades</i></td>
                        <td><i>Description</i></td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>NC0</td>
                        <td>NO NATURAL ON CROWN</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>NC1</td>
                        <td>SMALL NATURAL ON CROWN</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>NC2</td>
                        <td>MEDIUM NATURAL ON CROWN</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>NC3</td>
                        <td>HEAVY NATURAL ON CROWN</td>
                    </tr>
                </tbody>
            </table>

            <table>
                <thead>
                    <tr>
                        <td colspan="3" class="text-center">{{'BasicText.NATURAL ON GIRDLE'| translate}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="20%"><i>#</i></td>
                        <td width="20%"><i>Grades</i></td>
                        <td><i>Description</i></td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>NG0</td>
                        <td>NO NATURAL ON GIRDLE</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>NG1</td>
                        <td>SMALL NATURAL ON GIRDLE</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>NG2</td>
                        <td>MEDIUM NATURAL ON GIRDLE</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>NG3</td>
                        <td>HEAVY NATURAL ON GIRDLE</td>
                    </tr>
                </tbody>
            </table>

            <table>
                <thead>
                    <tr>
                        <td colspan="3" class="text-center">{{'BasicText.NATURAL ON PAVILION'| translate}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="20%"><i>#</i></td>
                        <td width="20%"><i>Grades</i></td>
                        <td><i>Description</i></td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>NP0</td>
                        <td>NO NATURAL ON PAVILLION</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>NP1</td>
                        <td>SMALL NATURAL ON PAVILLION</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>NP2</td>
                        <td>MEDIUM NATURAL ON PAVILLION</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>NP3</td>
                        <td>HEAVY NATURAL ON PAVILLION</td>
                    </tr>
                </tbody>
            </table>

            <table>
                <thead>
                    <tr>
                        <td colspan="3" class="text-center">{{'BasicText.Extra Facet On Crown(EFOC)'| translate}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="20%"><i>#</i></td>
                        <td width="20%"><i>Grades</i></td>
                        <td><i>Description</i></td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>EFC0</td>
                        <td>NO EXTRA FACET ON CROWN</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>EFC1</td>
                        <td>SMALL EXTRA FACET ON CROWN</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>EFC2</td>
                        <td>MEDIUM EXTRA FACET ON CROWN</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>EFC3</td>
                        <td>HEAVY EXTRA FACET ON CROWN</td>
                    </tr>
                </tbody>
            </table>

            <table>
                <thead>
                    <tr>
                        <td colspan="3" class="text-center">{{'BasicText.Extra Facet On Pavillion(EFOP)'| translate}}
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="20%"><i>#</i></td>
                        <td width="20%"><i>Grades</i></td>
                        <td><i>Description</i></td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>EFP0</td>
                        <td>NO EXTRA FACET ON PAVILLION</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>EFP1</td>
                        <td>SMALL EXTRA FACET ON PAVILLION</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>EFP2</td>
                        <td>MEDIUM EXTRA FACET ON PAVILLION</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>EFP3</td>
                        <td>HEAVY EXTRA FACET ON PAVILLION</td>
                    </tr>
                </tbody>
            </table>

            <table>
                <thead>
                    <tr>
                        <td colspan="3" class="text-center">{{'BasicText.EYE CLEAN'| translate}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="20%"><i>#</i></td>
                        <td width="20%"><i>%</i></td>
                        <td><i>Description</i></td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>NO</td>
                        <td>NO EYE CLEAN</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>75</td>
                        <td>75 % EYE CLEAN</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>100</td>
                        <td>100% EYE CLEAN</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="blank">&nbsp;</td>
                    </tr>
                </tbody>
            </table>

            <table>
                <thead>
                    <tr>
                        <td colspan="3" class="text-center">{{'BasicText.HEART & ARROW'| translate}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="20%"><i>#</i></td>
                        <td width="20%"><i>Inc. Type</i></td>
                        <td><i>Size/Desc</i></td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>NO</td>
                        <td>NO</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>100</td>
                        <td>100% HNA</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>80</td>
                        <td>75 TO 90% HNA</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>50</td>
                        <td>50-75% HNA</td>
                    </tr>
                </tbody>
            </table>

            <table>
                <thead>
                    <tr>
                        <td colspan="3" class="text-center">{{'BasicText.CULET'| translate}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="20%"><i>#</i></td>
                        <td width="20%"><i>Type</i></td>
                        <td><i>Description</i></td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>NON</td>
                        <td>NON</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>VSM</td>
                        <td>VERY SMALL</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>SML</td>
                        <td>SMALL</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>MED</td>
                        <td>MEDIUM</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>SLG</td>
                        <td>SLIGHT LARGE</td>
                    </tr>
                </tbody>
            </table>

            <table>
                <thead>
                    <tr>
                        <td colspan="3" class="text-center">{{'BasicText.Girdle Condition'| translate}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="20%"><i>#</i></td>
                        <td><i>Description</i></td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>FACETED</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>NON FACETED</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="blank">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="blank">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="blank">&nbsp;</td>
                    </tr>
                </tbody>
            </table>

            <table>
                <thead>
                    <tr>
                        <td colspan="3" class="text-center">{{'BasicText.Lab'| translate}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="20%"><i>Grades</i></td>
                        <td><i>Description</i></td>
                    </tr>
                    <tr>
                        <td>GIA</td>
                        <td>Gemological Institute of America</td>
                    </tr>
                    <tr>
                        <td>IGI</td>
                        <td>International Gemological Institute</td>
                    </tr>
                    <tr>
                        <td>HRD</td>
                        <td>Hoge Raad voor Diamant</td>
                    </tr>
                    <tr>
                        <td>NON CERTI</td>
                        <td>Non Certi</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="blank">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>