<title>Login History</title>
<section class="omaster-wrap">
    <div class="content_wrap">
        <div class="d-flex">
            <div class="e-left">
                <div class="breadcrumb">
                    <div class="breadcrumb-left">
                        <ul>
                            <li class="breadcrumb-item" routerLink="/"><i class="icon-home"></i>Home</li>
                            <li class="breadcrumb-item active" aria-current="page">Login History</li>
                        </ul>
                    </div>
                    <div class="breadcrumb-right">
                    </div>
                </div>
                <div class="content_box">
                    <div class="grid-wrap">
                        <!-- Skeleton start -->
                        <ng-container *ngIf="!gridView">
                            <div class="k-grouping-header k-grouping-header-flex">
                                <div class="k-indicator-container">
                                    <kendo-skeleton shape="text" animation="wave" [width]="400" [height]="40">
                                    </kendo-skeleton>
                                </div>
                            </div>
                            <table *ngIf="fields && fields.length > 0" class="w-100 table-responsive skeleton-tbl">
                                <ng-container *ngFor="let field of fields">
                                    <th *ngIf="field.isSelected">
                                        {{field.title}}
                                    </th>
                                </ng-container>
                                <tr *ngFor="let field of skeletonArray">
                                    <ng-container *ngFor="let fieldItem of fields">
                                        <td *ngIf="fieldItem.isSelected">
                                            <kendo-skeleton shape="text" animation="wave" [width]="80" [height]="40">
                                            </kendo-skeleton>
                                        </td>
                                    </ng-container>
                                </tr>
                            </table>
                        </ng-container>
                        <!-- Skeleton end -->

                        <kendo-grid #orgGrid *ngIf="gridView" [data]="gridView" [reorderable]="true" [resizable]="true"
                            [groupable]="true" [sortable]="true" [selectable]="selectableSettings" [pageSize]="pageSize"
                            [skip]="skip" [pageable]="true" [(selectedKeys)]="mySelection" [kendoGridSelectBy]="'id'"
                            (pageChange)="pageChange($event)">
                            <ng-container *ngIf="fields && fields.length > 0">
                                <ng-container *ngFor="let field of fields">
                                    <ng-container *ngIf="field.isSelected">
                                        <kendo-grid-column [width]="field.width" [field]="field.propertyName"
                                            [title]="field.title">
                                            <ng-template kendoGridCellTemplate let-dataItem
                                                *ngIf="field.title == 'Login Time'">
                                                {{dataItem.loginTime | date: 'dd/MM/yyyy - hh:mm:ss a'}}
                                            </ng-template>
                                            <ng-template kendoGridCellTemplate let-dataItem
                                                *ngIf="field.title == 'Logout Time'">
                                                {{dataItem.logoutTime | date: 'dd/MM/yyyy - hh:mm:ss a'}}
                                            </ng-template>
                                            <ng-template kendoGridCellTemplate let-dataItem
                                                *ngIf="field.title == 'Seller'">
                                                {{dataItem?.sellerName}}
                                            </ng-template>
                                        </kendo-grid-column>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </kendo-grid>
                    </div>
                </div>
            </div>

            <!-- Search start -->
            <div class="e-right">
                <div class="sr-wrap" [ngClass]="{'active': filterFlag}">
                    <div class="sr">
                        <h6>Search By Filter</h6>
                        <form name="form" #loginHistorySearchForm="ngForm" novalidate>
                            <div class="i-form">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12 form-data">
                                        <label for="">Company Name</label>
                                        <kendo-combobox [data]="customerItems"
                                            [(ngModel)]="loginHistorySearchCriteria.companyName" #companyName="ngModel"
                                            [kendoDropDownFilter]="filterSettings" [textField]="'companyName'"
                                            [valueField]="'companyName'" name="companyName" [valuePrimitive]="true">
                                        </kendo-combobox>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12 form-data">
                                        <label for="">Country Name</label>
                                        <kendo-combobox [data]="countryItems"
                                            [(ngModel)]="loginHistorySearchCriteria.country" #country="ngModel"
                                            [kendoDropDownFilter]="filterSettings" [textField]="'name'"
                                            [valueField]="'name'" name="country" (valueChange)="onCountryChange($event)"
                                            [valuePrimitive]="true">
                                        </kendo-combobox>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12 form-data">
                                        <label for="">State Name</label>
                                        <kendo-combobox [data]="stateItems"
                                            [(ngModel)]="loginHistorySearchCriteria.state" #state="ngModel"
                                            [kendoDropDownFilter]="filterSettings" [textField]="'name'"
                                            [valueField]="'name'" (valueChange)="onStateChange($event)"
                                            [valuePrimitive]="true" name="state">
                                        </kendo-combobox>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12 form-data">
                                        <label for="">From Date</label>
                                        <kendo-datepicker calendarType="classic" name="fromDate" #fromDate="ngModel" format="dd/MM/yyyy"
                                            [(ngModel)]="loginHistorySearchCriteria.fromDate">
                                        </kendo-datepicker>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12 form-data">
                                        <label for=""> To Date</label>
                                        <kendo-datepicker calendarType="classic" name="toDate" #toDate="ngModel" format="dd/MM/yyyy"
                                            [(ngModel)]="loginHistorySearchCriteria.toDate">
                                        </kendo-datepicker>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12 form-data social">
                                        <button class="btn btn-action"
                                            (click)="loginHistorySearchForm.form.valid && onFilterSubmit(loginHistorySearchForm)">
                                            <i class="icon-search"></i>Search
                                        </button>
                                        <button (click)="clearFilter(loginHistorySearchForm)" class="btn btn-action">
                                            <i class="icon-clear"></i>Clear
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Search End -->
        </div>
        <div class="f-btn" [ngClass]="{'active': filterFlag}">
            <ul>
                <li><button class="open-filter" (click)="filterPartToggle()"><i class="icon-filter"></i></button></li>
                <li><button (click)="loginHistorySearchForm.form.valid && onFilterSubmit(loginHistorySearchForm)"><i
                            class="icon-search"></i></button></li>
                <li><button (click)="clearFilter(loginHistorySearchForm)"><i class="icon-clear"></i></button>
                </li>
            </ul>
        </div>
    </div>
</section>
<div kendoDialogContainer></div>