<title>Memo Return</title>
<section class="party-wrap">
  <div class="content_wrap">
    <div class="d-flex">
      <!-- #region Grid -->
      <div class="e-left">
        <div class="breadcrumb bg">
          <div class="breadcrumb-left">
            <ul>
              <li class="breadcrumb-item" routerLink="/"><i class="icon-home"></i>Home</li>
              <li class="breadcrumb-item active" aria-current="page">Memo Return</li>
            </ul>
          </div>
          <div class="breadcrumb-right">
            <kendo-buttongroup kendoTooltip position="bottom">
              <button kendoButton title="Add" (click)="openmemoDialog()">
                <i class="icon-add"></i>
              </button>
              <button kendoButton title="Delete" (click)="deleteMemoReturn()" [disabled]="mySelection.length == 0"
                *ngIf="isCanDeleteMemoReturn"><i class="icon-trash"></i>
              </button>
            </kendo-buttongroup>
          </div>
        </div>
        <div class="content_box">
          <div class="grid-wrap">
            <kendo-grid [data]="gridView" class="grid-ui upload-grid" [sortable]="true" [groupable]="true"
              [group]="groups" (groupChange)="groupChange($event)" [selectable]="selectableSettings" [resizable]="true"
              [(selectedKeys)]="mySelection" [kendoGridSelectBy]="'id'" (selectionChange)="onSelect($event)"
              [pageSize]="pageSize" [skip]="skip" [pageable]="true" (pageChange)="pageChange($event)">
              <ng-container *ngIf="fields && fields.length > 0">
                <ng-container *ngFor="let field of fields">
                  <ng-container *ngIf="field.isSelected">
                    <kendo-grid-column [width]="field.width" [field]="field.propertyName" [title]="field.title">
                      <ng-template kendoGridCellTemplate let-dataItem *ngIf="field.propertyName=='memoReturnNo'">
                        <a style="color: blue" href="javascript:void(0)"
                          (click)="transactionPrint(dataItem.id)">{{dataItem.memoReturnNo}}
                        </a>
                      </ng-template>
                      <ng-template kendoGridCellTemplate let-dataItem *ngIf="field.title == 'Created Date'">
                        {{dataItem.createdDate | date: 'dd/MM/yyyy'}}
                      </ng-template>
                    </kendo-grid-column>
                  </ng-container>
                </ng-container>
              </ng-container>
            </kendo-grid>
          </div>
        </div>
      </div>
      <!-- #endregion -->

      <!-- #region search filter -->
      <div class="e-right">
        <div class="sr-wrap active" [ngClass]="{'active': filterFlag}">
          <div class="sr">
            <h6>Search By Filter</h6>
            <form name="form">
              <div class="i-form">
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12 form-data">
                    <label class="lbl">From Date</label>
                    <kendo-datepicker calendarType="classic" name="fDate" #fDate="ngModel" format="dd/MM/yyyy"
                      [(ngModel)]="memoReturnSearchCriteria.fromDate" required></kendo-datepicker>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12 form-data">
                    <label class="lbl">To Date</label>
                    <kendo-datepicker calendarType="classic" name="tDate" #tDate="ngModel" format="dd/MM/yyyy"
                      [(ngModel)]="memoReturnSearchCriteria.toDate" required></kendo-datepicker>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12 form-data">
                    <label for="">Memo Return No</label>
                    <input type="text" name="memono" autocomplete="off"
                      [(ngModel)]="memoReturnSearchCriteria.memoReturnNo" #memonofilter="ngModel">
                  </div>
                  <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12 form-data">
                    <label>Party</label>
                    <kendo-combobox [data]="listPartyItems" [kendoDropDownFilter]="filterSettings" [textField]="'text'"
                      [valueField]="'value'" name="party" #party="ngModel" [valuePrimitive]="true"
                      [(ngModel)]="memoReturnSearchCriteria.partyId">
                    </kendo-combobox>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12 form-data">
                    <label for="">Stone Id</label>
                    <input type="text" name="stoneId" autocomplete="off" [(ngModel)]="stoneId" #stoneIdfilter="ngModel">
                  </div>
                  <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12 form-data">
                    <label for="">Certi No</label>
                    <input type="text" name="certificateNoFilter" autocomplete="off" [(ngModel)]="certificateNo"
                      #certificateNoFilter="ngModel">
                  </div>
                  <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12 form-data social">
                    <button class="btn btn-action" (click)="initData()">
                      <i class="icon-search"></i>Search
                    </button>
                    <button class="btn btn-action" (click)="clearFilter()">
                      <i class="icon-clear"></i>Clear
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="f-btn" [ngClass]="{'active': filterFlag}">
      <ul>
        <li><button class="open-filter" (click)="filterPartToggle()"><i class="icon-filter"></i></button></li>
        <li><button><i class="icon-search" (click)="initData()"></i></button></li>
        <li><button><i class="icon-clear" (click)="clearFilter()"></i></button></li>
      </ul>
    </div>
    <!-- #endregion -->
  </div>
</section>

<!-- #region Memo Return Model-->
<div class="modal c-modal addemp dialog-xs-l" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"
  [hidden]="!isInwardmemo">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <form class="modal-content" name="InWardForm" #InWardForm="ngForm" novalidate>
      <div class="modal-header">
        <h5 class="modal-title"><i class="icon-memoissue"></i>Memo Return</h5>
        <button type="button" class="close" (click)="closeInwardmemoDialog()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <h6 class="d-flex justify-content-between title">
          <span>
            <i class="icon-memoissue"></i>Information <span class="ms-1">
            </span>
          </span>
          <div class="form-data">
            <button type="button" type="button" [disabled]="!stoneIds" (click)="onAddStones()"
              class="btn btn-primary me-2"><i class="icon-add pe-0"></i></button>
            <button type="button" type="button" (click)="onClearStones()" class="btn btn-primary"><i
                class="icon-clear pe-0"></i></button>
          </div>

        </h6>

        <div class="memoreturns-grid">

          <div class="form-data">
            <label>Inward Memo No</label>
          </div>
          <div class="form-data">
            <input type="text" autocomplete="off" name="inwardmemono" [(ngModel)]="selectedInwardNo"
              #inwardmemono="ngModel">
          </div>

          <div class="form-data">
            <label>CIF City</label>
          </div>
          <div class="form-data">
            <input type="text" autocomplete="off" name="cifCity" [(ngModel)]="selectedCIFCity" #cifCity="ngModel">
          </div>
          <div class="form-data">
            <label>Bank</label>
          </div>
          <div class="form-data">
            <kendo-combobox [data]="listBankItems" textField="text" valueField="value" name="Bank"
              [(ngModel)]="selectedBankItem" #Bank="ngModel" [valuePrimitive]="true"
              [kendoDropDownFilter]="filterSettings" (valueChange)="bankChange($event)" placeholder="Select Bank">
            </kendo-combobox>
          </div>
          <div class="form-data">
            <label>Party</label>
          </div>
          <div class="form-data">
            <kendo-autocomplete class="w-100" [data]="listPartyItems" [filterable]="true"
              (filterChange)="handlePartyFilter($event)" [kendoDropDownFilter]="filterSettings" name="Party"
              [(ngModel)]="selectedParty" [popupSettings]="{width: 'auto'}" #Party="ngModel" valueField="value"
              [disabled]="true">
              <ng-template kendoAutoCompleteItemTemplate let-dataItem>
                <span>{{dataItem.text}}</span>
              </ng-template>
            </kendo-autocomplete>
          </div>
          <div class="form-data">
            <label>Stone</label>
          </div>
          <div class="form-data">
            <input type="text" id="barcode" [(ngModel)]="stoneIds" #BarcodeInput name="barcode" class="c-wi"
              autocomplete="off">
          </div>

          <div class="form-data">
            <label>Declaration</label>
          </div>
          <div class="form-data">
            <textarea cols="4" type="text" id="" name="declaration" #declaration="ngModel"
              [(ngModel)]="selectedDeclaration" style="height: 30px;"></textarea>
          </div>
        </div>

        <div class="grid-wrap mt-2">
          <div class="en-form f-12">
            <h6 class="title"></h6>
            <div class="i-form lab-iss-mod m-0">
              <div class="d-flex flex-wrap">
                <div class="form-data me-3">
                  <span class="t-title me-1">Pkts :</span> <span class="font100">{{cntMnuStones}}</span>
                </div>
                <div class="form-data me-3">
                  <span class="t-title me-1">Weight :</span> <span class="font100">{{sumMnuStonesWeight}}</span>
                </div>
                <div class="form-data me-3">
                  <span class="t-title me-1">T.Amount :</span> <span class="font100">{{sumMnuStonesNetAmount}}</span>
                </div>
              </div>
            </div>
          </div>
          <kendo-grid [resizable]="true" [data]="memoInvReturnItems" [height]="320">
            <kendo-grid-column field="action" title="Action" [width]="80">
              <ng-template kendoGridCellTemplate let-dataItem>
                <ng-container style="text-align: center">
                  <i class="icon-delete p-0" (click)="deleteStone(dataItem.stoneId)"></i>
                </ng-container>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="stoneId" title="Stone Id" [width]="80">
            </kendo-grid-column>
            <kendo-grid-column field="certificateNo" title="Certicate No" [width]="120">
            </kendo-grid-column>
            <kendo-grid-column field="shape" title="Shape" [width]="80">
            </kendo-grid-column>
            <kendo-grid-column field="weight" title="Weight" [width]="50">
            </kendo-grid-column>
            <kendo-grid-column field="color" title="Color" [width]="50">
            </kendo-grid-column>
            <kendo-grid-column field="clarity" title="Clarity" [width]="50">
            </kendo-grid-column>
            <kendo-grid-column field="price.rap" title="Rap" [width]="70">
            </kendo-grid-column>
            <kendo-grid-column field="price.perCarat" title="$/Ct" [width]="70">
            </kendo-grid-column>
            <kendo-grid-column field="price.discount" title="Dis %" [width]="70">
            </kendo-grid-column>
            <kendo-grid-column field="price.netAmount" title="Net Amount" [width]="70">
            </kendo-grid-column>
            <kendo-grid-column field="inwardMemoNo" title="Inward MemoNo" [width]="150">
            </kendo-grid-column>
            <kendo-grid-column field="inwardMemoDate" title="Inward Memo Date" [width]="150">
              <ng-template kendoGridCellTemplate let-dataItem>
                {{dataItem.inwardMemoDate | date: 'dd/MM/yyyy'}}
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="declaration" title="declaration" [width]="600">
            </kendo-grid-column>
          </kendo-grid>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="!InWardForm.valid" (click)="returnInwardMemo()">
          <i class="icon-save"></i>Save</button>
      </div>
    </form>
  </div>
</div>
<!-- #endregion -->

<div kendoDialogContainer></div>