.attachment-dialog i {
    background: #4d4d4d;
    color: #fff;
    padding: 5px;
    margin-right: 6px;
    display: block;
    float: left;
    border-radius: 4px;
}

.s-email .form-data textarea {
    height: initial;
    padding: 5px !important;
}

.s-email .form-data:nth-child(odd),
.s-email .form-data:last-child {
    margin-bottom: initial;
}

.s-email .form-data input {
    background-color: transparent;
    height: 30px;
}

.mail-grid {
    display: grid;
    grid-template-columns: 76px 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}

.expo-rq-modal .modal-body {
    max-height: calc(100vh - 382px);
}

.addRemark_mdl .grid {
    grid-template-columns: max-content 1fr;
    gap: 10px;
    align-items: flex-start;
}

.addRemark_mdl .grid textarea {
    resize: vertical;
    min-height: 80px;
}

@media (min-width: 768px) {
    .expo-rq-modal .grid-wrap .k-grid {
        height: calc(100vh - 55vh);
    }
}