<title>Pending Pricing</title>
<!-- #region Pricing Request -->
<section class="pricing-wrap">
  <div class="content_wrap">
    <div class="d-flex">
      <div class="e-left w-100">
        <!--#region Header -->
        <div class="breadcrumb">
          <div class="breadcrumb-left">
            <ul>
              <li class="breadcrumb-item">
                <a href="#"></a><i class="icon-home"></i> Home
              </li>
              <li class="breadcrumb-item active" aria-current="page">Pending Pricing</li>
            </ul>
          </div>
        </div>
        <div class="summarybar bg">
          <div class="summary-left">
            <ul>
              <li>Total Stone(s) : <span>{{totalCount}}</span></li>
            </ul>
          </div>
          <div class="summary-right pe-0">
            <kendo-buttongroup kendoTooltip position="bottom">
              <button kendoButton title="Filter Stone" (click)="openSlotFilterDialog()">
                <i class="icon-search"></i>
              </button>
              <button kendoButton #anchorSummary title="Summry" (click)="openSummary()">
                <i class="icon-summary"></i>
              </button>
              <button kendoButton title="Grid Configuration" (click)="openGridConfigDialog()">
                <i class="icon-gridconfig"></i>
              </button>
              <button kendoButton title="Download CSV" (click)="exportToCSV()">
                <i class="icon-excelnew"></i>
              </button>
            </kendo-buttongroup>
          </div>
        </div>

        <!--#endregion -->
        <!--#region Grid -->
        <div class="content_box">
          <div class="grid-wrap pricing-grid">
            <kendo-grid #priceGrid [data]="gridView!" [reorderable]="true" [resizable]="true" [groupable]="true"
              [sortable]="true" [group]="groups" (groupChange)="groupChange($event)" [pageSize]="pageSize" [skip]="skip"
              [pageable]="true" (pageChange)="pageChange($event)" [kendoGridSelectBy]="'stoneId'"
              (detailExpand)="expandPricingHistory($event)" (detailCollapse)="clearPricingHistory($event)">
              <ng-container *ngIf="fields && fields.length > 0">
                <ng-container *ngFor="let field of fields">
                  <ng-container *ngIf="field.isSelected">
                    <kendo-grid-column [width]="field.width" [editor]="field.editor!" [field]="field.propertyName"
                      [title]="field.title">
                      <ng-template kendoGridCellTemplate let-dataItem *ngIf="field.title == 'Media'">
                        <div
                          *ngIf="dataItem.media && (dataItem.media.isHtmlVideo || dataItem.media.isPrimaryImage || dataItem.media.isCertificate)">
                          <span class="gr-icon" *ngIf="dataItem.media.isHtmlVideo"
                            (click)="openMediaDialog('360 Vision View', dataItem.stoneId, 'iframe')">
                            <i class="icon-diamond"></i>
                          </span>
                          <span class="gr-icon" *ngIf="dataItem.media.isPrimaryImage"
                            (click)="openMediaDialog('Image View', dataItem.stoneId, 'img')">
                            <i class="icon-camera"></i>
                          </span>
                          <span class="gr-icon" *ngIf="dataItem.media.isCertificate"
                            (click)="openMediaDialog('Certificate View', dataItem.certificateNo, 'cert')">
                            <i class="icon-cerificate"></i>
                          </span>
                        </div>
                      </ng-template>
                      <ng-template kendoGridCellTemplate let-dataItem *ngIf="field.title == 'Disc Diff'">
                        <span>{{dataItem.tempPrice.discount ?
                          utilityService.ConvertToFloatWithDecimal(dataItem.tempPrice.discount -
                          dataItem.price.discount) : ''}}</span>
                      </ng-template>
                      <ng-template kendoGridCellTemplate let-dataItem *ngIf="field.title == 'Diameter'">
                        <span>{{dataItem.measurement.length}} - {{dataItem.measurement.width}} x
                          {{dataItem.measurement.height}}</span>
                      </ng-template>
                      <ng-template kendoGridCellTemplate let-dataItem *ngIf="field.title == 'Natts'">
                        <span>{{dataItem.inclusion.sideBlack}} - {{dataItem.inclusion.centerBlack}}</span>
                      </ng-template>
                      <ng-template kendoGridCellTemplate let-dataItem *ngIf="field.title == 'Girdle'">
                        <span>{{dataItem.measurement.minGirdle}} - {{dataItem.measurement.maxGirdle}}</span>
                      </ng-template>
                      <ng-template kendoGridCellTemplate let-dataItem *ngIf="field.title == 'Created At'">
                        <span>{{dataItem.createdDate | date: 'dd/MM/yyyy'}}</span>
                      </ng-template>
                      <ng-template kendoGridCellTemplate let-dataItem *ngIf="field.title == 'Updated At'">
                        <span>{{dataItem.updatedAt | date: 'dd/MM/yyyy'}}</span>
                      </ng-template>
                    </kendo-grid-column>
                  </ng-container>
                </ng-container>
              </ng-container>
              <ng-template kendoGridDetailTemplate let-dataItem let-rowIndex="rowIndex">
                <div class="his-grid row d-media-wrap ">
                  <div class="d-media d-details">
                    <kendo-tabstrip>
                      <kendo-tabstrip-tab title="Disc. History" [selected]="true">
                        <ng-template kendoTabContent>
                          <kendo-grid [data]="getlistPricingHistory(dataItem.stoneId)" [resizable]="true"
                            [height]="329">
                            <kendo-grid-column [width]="20" title="Before">
                              <ng-template kendoGridCellTemplate let-dataItem>
                                {{calculateDateDiff(dataItem.createdDate)}}
                              </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column [width]="40" title="Date">
                              <ng-template kendoGridCellTemplate let-dataItem>
                                {{dataItem.createdDate | date: 'dd-MM-yyyy hh:mm:ss a'}}
                              </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column [width]="25" field="price.rap" title="Rap">
                            </kendo-grid-column>
                            <kendo-grid-column [width]="20" field="price.discount" title="Discount">
                            </kendo-grid-column>
                            <kendo-grid-column [width]="25" field="price.perCarat" title="$/CT">
                            </kendo-grid-column>
                            <kendo-grid-column [width]="25" field="price.netAmount" title="Net Amount">
                            </kendo-grid-column>
                            <kendo-grid-column [width]="25" field="identity.name" title="User">
                            </kendo-grid-column>
                          </kendo-grid>
                        </ng-template>
                      </kendo-tabstrip-tab>
                      <kendo-tabstrip-tab title="Inclusion">
                        <ng-template kendoTabContent *ngFor="let item of getInventoryItems(dataItem.stoneId)">
                          <div class="content t-details">
                            <ul>
                              <li *ngIf="inclusionConfig.shade && (inclusionData  | typefilter:'shade').length > 0">
                                <span class="l-head">Shade</span>
                                <span class="r-det">: {{item.inclusion.shade}}</span>
                              </li>
                              <li *ngIf="inclusionConfig.brown && (inclusionData  | typefilter:'brown').length > 0">
                                <span class="l-head">Brown</span>
                                <span class="r-det">: {{item.inclusion.brown}}</span>
                              </li>
                              <li *ngIf="inclusionConfig.green && (inclusionData  | typefilter:'green').length > 0">
                                <span class="l-head">Green</span>
                                <span class="r-det">: {{item.inclusion.green}}</span>
                              </li>
                              <li *ngIf="inclusionConfig.milky && (inclusionData  | typefilter:'milky').length > 0">
                                <span class="l-head">Milky</span>
                                <span class="r-det">: {{item.inclusion.milky}}</span>
                              </li>
                              <li
                                *ngIf="inclusionConfig.sideBlack && (inclusionData  | typefilter:'sideBlack').length > 0">
                                <span class="l-head">Side Black</span>
                                <span class="r-det">: {{item.inclusion.sideBlack}}</span>
                              </li>
                              <li
                                *ngIf="inclusionConfig.centerBlack && (inclusionData  | typefilter:'centerSideBlack').length > 0">
                                <span class="l-head">Center Side Black</span>
                                <span class="r-det">: {{item.inclusion.centerSideBlack}}</span>
                              </li>
                              <li
                                *ngIf="inclusionConfig.centerBlack && (inclusionData  | typefilter:'centerBlack').length > 0">
                                <span class="l-head">Center Black</span>
                                <span class="r-det">: {{item.inclusion.centerBlack}}</span>
                              </li>
                              <li
                                *ngIf="inclusionConfig.sideWhite && (inclusionData  | typefilter:'sideWhite').length > 0">
                                <span class="l-head">Side White</span>
                                <span class="r-det">: {{item.inclusion.sideWhite}}</span>
                              </li>
                              <li
                                *ngIf="inclusionConfig.centerSideWhite && (inclusionData  | typefilter:'centerSideWhite').length > 0">
                                <span class="l-head">Center Side White</span>
                                <span class="r-det">: {{item.inclusion.centerSideWhite}}</span>
                              </li>
                              <li
                                *ngIf="inclusionConfig.centerWhite && (inclusionData  | typefilter:'centerWhite').length > 0">
                                <span class="l-head">Center White</span>
                                <span class="r-det">: {{item.inclusion.centerWhite}}</span>
                              </li>
                              <li
                                *ngIf="inclusionConfig.openCrown && (inclusionData  | typefilter:'openCrown').length > 0">
                                <span class="l-head">Open Crown</span>
                                <span class="r-det">: {{item.inclusion.openCrown}}</span>
                              </li>
                              <li
                                *ngIf="inclusionConfig.openTable && (inclusionData  | typefilter:'openTable').length > 0">
                                <span class="l-head">Open Table</span>
                                <span class="r-det">: {{item.inclusion.openTable}}</span>
                              </li>
                              <li
                                *ngIf="inclusionConfig.openPavilion && (inclusionData  | typefilter:'openPavilion').length > 0">
                                <span class="l-head">Open Pavalion</span>
                                <span class="r-det">: {{item.inclusion.openPavilion}}</span>
                              </li>
                              <li
                                *ngIf="inclusionConfig.openGirdle && (inclusionData  | typefilter:'openGirdle').length > 0">
                                <span class="l-head">Open Girdle</span>
                                <span class="r-det">: {{item.inclusion.openGirdle}}</span>
                              </li>
                              <li *ngIf="inclusionConfig.efoc && (inclusionData  | typefilter:'efoc').length > 0">
                                <span class="l-head">EFOC</span>
                                <span class="r-det">: {{item.inclusion.efoc}}</span>
                              </li>
                              <li *ngIf="inclusionConfig.efot && (inclusionData  | typefilter:'efot').length > 0">
                                <span class="l-head">EFOT</span>
                                <span class="r-det">: {{item.inclusion.efot}}</span>
                              </li>
                              <li *ngIf="inclusionConfig.efog && (inclusionData  | typefilter:'efog').length > 0">
                                <span class="l-head">EFOG</span>
                                <span class="r-det">: {{item.inclusion.efog}}</span>
                              </li>
                              <li *ngIf="inclusionConfig.efop && (inclusionData  | typefilter:'efop').length > 0">
                                <span class="l-head">EFOP</span>
                                <span class="r-det">: {{item.inclusion.efop}}</span>
                              </li>
                              <li
                                *ngIf="inclusionConfig.naturalOnTable && (inclusionData  | typefilter:'naturalOnTable').length > 0">
                                <span class="l-head">NOT</span>
                                <span class="r-det">: {{item.inclusion.naturalOnTable}}</span>
                              </li>
                              <li
                                *ngIf="inclusionConfig.naturalOnGirdle && (inclusionData  | typefilter:'naturalOnGirdle').length > 0">
                                <span class="l-head">NOG</span>
                                <span class="r-det">: {{item.inclusion.naturalOnGirdle}}</span>
                              </li>
                              <li
                                *ngIf="inclusionConfig.naturalOnCrown && (inclusionData  | typefilter:'naturalOnCrown').length > 0">
                                <span class="l-head">NOC</span>
                                <span class="r-det">: {{item.inclusion.naturalOnCrown}}</span>
                              </li>
                              <li
                                *ngIf="inclusionConfig.naturalOnPavilion && (inclusionData  | typefilter:'naturalOnPavillion').length > 0">
                                <span class="l-head">NOP</span>
                                <span class="r-det">: {{item.inclusion.naturalOnPavillion}}</span>
                              </li>
                              <li
                                *ngIf="inclusionConfig.girdleCondition && (inclusionData  | typefilter:'girdleCondition').length > 0">
                                <span class="l-head">Grid. Con.</span>
                                <span class="r-det">: {{item.inclusion.girdleCondition}}</span>
                              </li>
                              <li *ngIf="inclusionConfig.culet && (inclusionData  | typefilter:'culet').length > 0">
                                <span class="l-head">Culet</span>
                                <span class="r-det">: {{item.inclusion.culet}}</span>
                              </li>
                              <li *ngIf="inclusionConfig.hna && (inclusionData  | typefilter:'hna').length > 0">
                                <span class="l-head">HNA</span>
                                <span class="r-det">: {{item.inclusion.hna}}</span>
                              </li>
                              <li
                                *ngIf="inclusionConfig.eyeClean && (inclusionData  | typefilter:'eyeClean').length > 0">
                                <span class="l-head">Eye Clean</span>
                                <span class="r-det">: {{item.inclusion.eyeClean}}</span>
                              </li>
                              <li *ngIf="inclusionConfig.ktoS && (inclusionData  | typefilter:'ktoS').length > 0">
                                <span class="l-head">Key To Symbol</span>
                                <span class="r-det">: {{item.inclusion.ktoS}}</span>
                              </li>
                              <li *ngIf="inclusionConfig.bowtie && (inclusionData  | typefilter:'bowtie').length > 0">
                                <span class="l-head">Bowtie</span>
                                <span class="r-det">: {{item.inclusion.bowtie}}</span>
                              </li>
                              <li>
                                <span class="l-head">IGrade</span>
                                <span class="r-det">: {{item.inclusion.iGrade}}</span>
                              </li>
                            </ul>
                          </div>
                        </ng-template>
                      </kendo-tabstrip-tab>
                      <kendo-tabstrip-tab title="Measurement">
                        <ng-template kendoTabContent *ngFor="let item of getInventoryItems(dataItem.stoneId)">
                          <div class="content t-details">
                            <ul>
                              <li *ngIf="measurementConfig.length">
                                <span class="l-head">Length</span>
                                <span class="r-det">: {{item.measurement.length}}</span>
                              </li>
                              <li *ngIf="measurementConfig.width">
                                <span class="l-head">Width</span>
                                <span class="r-det">: {{item.measurement.width}}</span>
                              </li>
                              <li *ngIf="measurementConfig.height">
                                <span class="l-head">Height</span>
                                <span class="r-det">: {{item.measurement.height}}</span>
                              </li>
                              <li *ngIf="measurementConfig.depth">
                                <span class="l-head">Depth</span>
                                <span class="r-det">: {{item.measurement.depth}}</span>
                              </li>
                              <li *ngIf="measurementConfig.table">
                                <span class="l-head">Table</span>
                                <span class="r-det">: {{item.measurement.table}}</span>
                              </li>
                              <li *ngIf="measurementConfig.crownHeight">
                                <span class="l-head">Crown Height</span>
                                <span class="r-det">: {{item.measurement.crownHeight}}</span>
                              </li>
                              <li *ngIf="measurementConfig.crownAngle">
                                <span class="l-head">Crown Angle</span>
                                <span class="r-det">: {{item.measurement.crownAngle}}</span>
                              </li>
                              <li *ngIf="measurementConfig.pavillionAngle">
                                <span class="l-head">Pavilion Angle</span>
                                <span class="r-det">: {{item.measurement.pavilionAngle}}</span>
                              </li>
                              <li *ngIf="measurementConfig.pavillionDepth">
                                <span class="l-head">Pavilion Depth</span>
                                <span class="r-det">: {{item.measurement.pavilionDepth}}</span>
                              </li>
                              <li *ngIf="measurementConfig.girdlePer">
                                <span class="l-head">Girdle%</span>
                                <span class="r-det">: {{item.measurement.girdlePer}}</span>
                              </li>
                              <li
                                *ngIf="measurementConfig.girdle && (measurementData  | typefilter:'girdle').length > 0">
                                <span class="l-head">Min Girdle</span>
                                <span class="r-det">: {{item.measurement.minGirdle}}</span>
                              </li>
                              <li
                                *ngIf="measurementConfig.girdle && (measurementData  | typefilter:'girdle').length > 0">
                                <span class="l-head">Max Girdle</span>
                                <span class="r-det">: {{item.measurement.maxGirdle}}</span>
                              </li>
                              <li *ngIf="measurementConfig.ratio">
                                <span class="l-head">Ratio</span>
                                <span class="r-det">: {{item.measurement.ratio}}</span>
                              </li>
                              <li>
                                <span class="l-head">MGrade</span>
                                <span class="r-det">: {{item.measurement.mGrade}}</span>
                              </li>
                            </ul>
                          </div>
                        </ng-template>
                      </kendo-tabstrip-tab>
                    </kendo-tabstrip>
                  </div>
                  <div class="p-r-7">
                    <div class="d-media">
                      <h6 class="title">Diamond Media</h6>
                      <kendo-tabstrip>
                        <kendo-tabstrip-tab [selected]="true">
                          <ng-template kendoTabTitle>
                            <i class="icon-camera"></i>&nbsp;Image
                          </ng-template>
                          <ng-template kendoTabContent *ngIf="dataItem.media">
                            <div class="content" *ngIf="dataItem.media.isPrimaryImage">
                              <img [src]="setupURL(dataItem.stoneId,'image')" alt="diamond image"
                                class="m-auto d-block">
                            </div>
                            <div class="content" *ngIf="!dataItem.media.isPrimaryImage">
                              <img src="commonAssets/images/image-not-found.jpg" alt="diamond image"
                                class="m-auto d-block">
                            </div>
                          </ng-template>
                        </kendo-tabstrip-tab>
                        <kendo-tabstrip-tab>
                          <ng-template kendoTabTitle>
                            <i class="icon-diamond"></i>&nbsp;360 View
                          </ng-template>
                          <ng-template kendoTabContent *ngIf="dataItem.media">
                            <div class="content" *ngIf="dataItem.media.isHtmlVideo">
                              <iframe [src]="setupURL(dataItem.stoneId,'video')" width="100%" height="288px"
                                style="border: 0;" allow='autoplay'></iframe>
                            </div>
                            <div class="content" *ngIf="!dataItem.media.isHtmlVideo">
                              <img src="commonAssets/images/video-not-found.png" alt="diamond Video"
                                class="m-auto d-block">
                            </div>
                          </ng-template>
                        </kendo-tabstrip-tab>
                        <kendo-tabstrip-tab>
                          <ng-template kendoTabTitle>
                            <i class="icon-cerificate"></i>&nbsp;Cerificate
                          </ng-template>
                          <ng-template kendoTabContent *ngIf="dataItem.media">
                            <div class="content" *ngIf="dataItem.media.isCertificate">
                              <iframe [src]="setupURL(dataItem.certificateNo,'certificate')" width="100%" height="288px"
                                style="border: 0;" allow='autoplay'></iframe>
                            </div>
                            <div class="content" *ngIf="!dataItem.media.isCertificate">
                              <img src="commonAssets/images/certi-not-found.png" alt="Diamond Certificate"
                                class="m-auto d-block">
                            </div>
                          </ng-template>
                        </kendo-tabstrip-tab>
                      </kendo-tabstrip>
                    </div>
                  </div>
                </div>
                <ng-template kendoGridNoRecordsTemplate>
                  <span style="text-align: center;display: block">No Records Found</span>
                </ng-template>
              </ng-template>
            </kendo-grid>
          </div>
        </div>
        <!--#endregion -->
      </div>
      <!-- #region summry -->
      <div class="summary-panel" *ngIf="isSummary">
        <div class="marketsheet-status ps-2 pe-2">
          <div class="sr">
            <h6>Summary <i class="icon-delete float-end mt-1 me-1" (click)="closeSummary()"></i>
            </h6>
            <div class="summary-panel-grid">
              <div class="grid-1">
                <button type="button" class="btn t-record">{{totalCount}}</button>
                <span>Total Records</span>
              </div>
              <div class="grid-1">
                <button type="button" class="btn t-weight">{{totalWeight}}</button>
                <span>Total Weight</span>
              </div>
              <div class="grid-1">
                <button type="button" class="btn avg-dis">{{avgDiscount}}</button>
                <span>Avg Dis</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- #endregion summry -->
    </div>
  </div>
</section>
<!-- #endregion -->

<!-- #region Search Filter Modal -->
<ng-container *ngIf="isSlotFilter">
  <app-filter [skip]="0" [pageSize]="pageSize" [groups]="groups" [selectedSlots]="employeeCriteriaData"
    [isPricing]="true" [inventorySearchCriteriaObj]="inventorySearchCriteriaObj"
    [selectedTypeDNormItems]="selectedBranchDNormItems" (ChildEvent)="onFilterChange($event)"
    (toggle)="isSlotFilter=$event"></app-filter>
</ng-container>
<!-- #endregion -->

<!-- #region Media Modal-->
<ng-container *ngIf="isShowMedia">
  <app-media [mediaTitle]="mediaTitle" [mediaSrc]="mediaSrc" [mediaType]="mediaType"
    (closeDialog)="closeMediaDialog($event)"></app-media>
</ng-container>
<!-- #endregion -->

<!-- #region GridConfig Modal -->
<ng-container *ngIf="isGridConfig">
  <app-gridconfiguration [fields]="fields" [pageName]="'PendingPrice'" [gridName]="'PendingPriceGrid'"
    [gridConfigId]="gridConfig ? gridConfig.id : undefined" (toggle)="isGridConfig=$event"
    (ChildEvent)="setNewGridConfig($event)">
  </app-gridconfiguration>
</ng-container>
<!-- #endregion -->

<div kendoDialogContainer></div>