<section class="intro_banner position-relative">
    <div class="content_wraper">
        <div class="banner_title">
            <h1>{{'ProductPage.Where Every Sparkle Tells a Unique Story'|translate}}</h1>
            <h2>{{'ProductPage.PRODUCTS'|translate}}</h2>
        </div>
    </div>
    <div class="secbg_img">
        <img src="../../../assets/images/product_bg1.png" class="img-fluid" alt="glowstar natural diamond">
    </div>
</section>

<section class="certiDiam_sec position-relative" id="certiDiam_sec">
    <div class="content_wraper container">
        <div class="content1">
            <h3 class="secSm_title">{{'ProductPage.CERTIFIED DIAMONDS'|translate}}</h3>
            <h4 class="secLg_title">{{'ProductPage.Authenticity You Can Trust'|translate}}</h4>
            <p class="sec_des">{{'ProductPage.CertiDiamond_Content'|translate}}</p>
        </div>
    </div>
    <div class="secbg_img">
        <img src="../../../assets/images/product_bg2.png" class="img-fluid" alt="glowstar natural certified diamond">
    </div>
</section>

<section class="looseDiam_sec position-relative" id="looseDiam_sec">
    <div class="content_wraper container">
        <div class="content1">
            <h3 class="secSm_title">{{'ProductPage.Loose diamonds'|translate}}</h3>
            <h4 class="secLg_title">{{'ProductPage.Endless Possibilities Unmatched Quality'|translate}}</h4>
            <p class="sec_des">{{'ProductPage.LooseDiamond_Content'|translate}}</p>
        </div>
    </div>
    <div class="secbg_img">
        <img src="../../../assets/images/product_bg3.png" class="img-fluid" alt="glowstar natural diamond">
    </div>
</section>

<section class="fancyShape_sec position-relative" id="fancyDiam_sec">
    <div class="content_wraper container">
        <div class="content1">
            <h3 class="secSm_title">{{'ProductPage.Fancy Shapes'|translate}}</h3>
            <h4 class="secLg_title">{{'ProductPage.Crafting Uniqueness with Every Cut'|translate}}</h4>
            <p class="sec_des">{{'ProductPage.FancyShapes_Content'|translate}}</p>
        </div>
    </div>
    <div class="content_wraper">
        <div class="img_wrap">
            <img src="../../../assets/images/dialine_img.png" class="img-fluid" alt="glowstar natural diamond">
        </div>
    </div>
    <div class="secbg_img">
        <picture>
            <source srcset="../../../assets/images/product_bg4.png" media="(max-width: 991px)">
            <img src="../../../assets/images/product_bg4.png" class="img-fluid" alt="glowstar natural diamond">
        </picture>
    </div>
</section>

<section class="fancyColor_sec position-relative" id="fancyColor_sec">
    <div class="content_wraper container">
        <div class="content1">
            <h3 class="secSm_title">{{'ProductPage.Fancy Colors'|translate}}</h3>
            <h4 class="secLg_title">{{'ProductPage.A Spectrum of Elegance'|translate}}</h4>
            <p class="sec_des">{{'ProductPage.FancyColors_Content'|translate}}</p>
        </div>
    </div>
    <div class="secbg_img">
        <img src="../../../assets/images/product_bg5.png" class="img-fluid" alt="glowstar natural diamond">
    </div>
</section>

<section class="matchPair_sec position-relative" id="matchPair_sec">
    <div class="content_wraper container">
        <div class="content1">
            <h3 class="secSm_title">{{'ProductPage.MATCH PAIRS'|translate}}</h3>
            <h4 class="secLg_title">{{'ProductPage.Perfect Harmony in Every Pair'|translate}}</h4>
        </div>
        <div class="img_wrap">
            <img src="../../../assets/images/product_bg6-diam.png" class="img-fluid" alt="glowstar natural diamond">
        </div>
        <div class="content2">
            <p class="sec_des">{{'ProductPage.MatchPairs_Content'|translate}}</p>
        </div>
    </div>
    <div class="secbg_img">
        <img src="../../../assets/images/product_bg6.png" class="img-fluid" alt="glowstar natural diamond">
    </div>
</section>