<section class="intro_banner position-relative">
    <div class="content_wraper position-relative">
        <div class="banner_title">
            <h1>{{'HomePage.Natural Is Rare'|translate}}</h1>
            <h2>{{'HomePage.Rare Is Precious'|translate}}</h2>
        </div>
    </div>
    <div class="secbg_img">
        <img src="../../../assets/images/trans_volcano-lg.gif" class="img-fluid" alt="glowstar - Natural Is Rare">
    </div>
</section>

<section class="traceability_sec">
    <div class="content_wraper container">
        <h3 class="secSm_title">{{'HomePage.Where Each Sparkle Tells a'|translate}}</h3>
        <h4 class="secLg_title">{{'HomePage.Traceable Tale of Origin'|translate}}</h4>
        <p class="sec_des">{{'HomePage.Traceble_Content'|translate}}</p>
        <a routerLink="/aboutus" class="sec_btn">
            <span class="icon_wrap"><i class="icon-right_new"></i></span>
            {{'HomePage.KNOW MORE ABOUT TRACEABILITY'|translate}}
        </a>
    </div>
</section>

<section class="about_sec">
    <div class="content_wraper container">
        <h3 class="secSm_title">{{'HomePage.Radiating Brilliance, Rooted in Trust'|translate}}</h3>
        <h4 class="secLg_title">{{'HomePage.25 Years of Crafting Timeless Elegance'|translate}}</h4>
        <div class="build_img">
            <img src="../../../assets/images/companyBuilding.jpg" class="img-fluid" alt="company building">
        </div>
        <p class="sec_des">{{'HomePage.About_content'|translate}}</p>
        <a routerLink="/aboutus" class="sec_btn">
            <span class="icon_wrap"><i class="icon-right_new"></i></span>
            {{'HomePage.KNOW MORE ABOUT US'|translate}}
        </a>
    </div>
</section>

<section class="craftsman_sec position-relative">
    <div class="content_wraper">
        <div class="content1">
            <h3 class="secSm_title">{{'HomePage.From Mine to Masterpiece'|translate}}</h3>
            <h4 class="secLg_title"> {{'HomePage.Where Trust & Brilliance Unite'|translate}}</h4>
        </div>
        <div class="content2">
            <p class="sec_des">{{'HomePage.Craft_Content'|translate}}</p>
            <a routerLink="/craftsmanship" class="sec_btn">
                <span class="icon_wrap"><i class="icon-right_new"></i></span>
                {{'HomePage.OUR CRAFTSMANSHIP'|translate}}
            </a>
        </div>
        <div class="mobDia_img d-xl-none">
            <img src="../../../assets/images/diamond_shape.png" class="img-fluid">
        </div>
        <div class="content3">
            <h3 class="secSm_title">{{'HomePage.From Classic to Custom'|translate}}</h3>
            <h4 class="secLg_title">{{'HomePage.Where Every Shape Shines Bright'|translate}}</h4>
            <p class="sec_des">{{'HomePage.ShapeShine_content'|translate}}</p>
            <a routerLink="/products" class="sec_btn">
                <span class="icon_wrap"><i class="icon-right_new"></i></span>
                {{'HomePage.KNOW MORE ABOUT OUR PRODUCT'|translate}}
            </a>
        </div>
    </div>
    <div class="secbg_img">
        <picture>
            <source srcset="../../../assets/images/craftmansi_bg-mob.png" media="(max-width: 1199px)">
            <img src="../../../assets/images/craftmansi_bg.png" class="img-fluid"
                alt="glowstar - Where Trust & Brilliance Unite">
        </picture>
    </div>
</section>

<section class="policy_sec">
    <div class="content_wraper container">
        <h3 class="secSm_title">{{'HomePage.Experience the Glowstar Advantage'|translate}}</h3>
        <h4 class="secLg_title">{{'HomePage.Craftsmanship, Quality, Integrity'|translate}}</h4>

        <swiper [config]="policySlider" class="policy_slider custom_slider">
            <ng-template swiperSlide>
                <div class="content_box">
                    <div class="icon_wrap"><i class="icon-price_policy"></i></div>
                    <span>{{'HomePage.FAIR & FIXED PRICE POLICY'|translate}}</span>
                    <p class="sec_des">{{'HomePage.Fair&Fixed_content'|translate}}</p>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="content_box">
                    <div class="icon_wrap"><i class="icon-relation"></i></div>
                    <span>{{'HomePage.CUSTOMER FIRST'|translate}}</span>
                    <p class="sec_des">{{'HomePage.CUSTOMER&FIRST_content'|translate}}</p>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="content_box">
                    <div class="icon_wrap"><i class="icon-support_male"></i></div>
                    <span>{{'HomePage.24/7 SUPPORT'|translate}}</span>
                    <p class="sec_des">{{'HomePage.24/7_content'|translate}}</p>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="content_box">
                    <div class="icon_wrap"><i class="icon-responsiblity"></i></div>
                    <span>{{'HomePage.RESPONSIBLITY'|translate}}</span>
                    <p class="sec_des">{{'HomePage.RESPONSIBLITY_content'|translate}}</p>
                </div>
            </ng-template>
        </swiper>
    </div>
</section>

<section class="sustain_sec position-relative">
    <div class="content_wraper">
        <div class="content1">
            <h3 class="secSm_title">{{'HomePage.Paving the Way for a'|translate}}</h3>
            <h4 class="secLg_title">{{'HomePage.Sustainable Future'|translate}}</h4>
            <p class="sec_des">{{'HomePage.SustainFuture_Content'|translate}}</p>
            <a routerLink="/sustainability" class="sec_btn">
                <span class="icon_wrap"><i class="icon-right_new"></i></span>
                {{'HomePage.KNOW MORE ABOUT Sustainability'|translate}}
            </a>
        </div>
    </div>
    <div class="secbg_img">
        <img src="../../../assets/images/sustainable.png" class="img-fluid"
            alt="glowstar - paving the Way for a Sustainable Future">
    </div>
</section>

<section class="csr_sec position-relative">
    <div class="content_wraper">
        <div class="content1">
            <h3 class="secSm_title">{{'HomePage.Educate. Empower. Illuminate'|translate}}</h3>
            <h4 class="secLg_title">{{'HomePage.Lighting the Path to Change'|translate}}</h4>
            <div class="csrimg_wrap">
                <img src="../../../assets/images/csrImg.jpg" class="img-fluid" alt="bg-9">
            </div>
            <p class="sec_des">{{'HomePage.EduEmpIl_Content'|translate}}</p>
            <a [routerLink]="companyName == 'Glowstar' ? '/csr' : ''" class="sec_btn">
                <span class="icon_wrap"><i class="icon-right_new"></i></span>
                {{'HomePage.KNOW MORE ABOUT CSR'|translate}}
            </a>
        </div>
    </div>
    <div class="secbg_img">
        <img src="../../../assets/images/csr_bg.png" class="img-fluid" alt="glowstar - Educate. Empower. Illuminate">
    </div>
</section>

<section class="digital_sec">
    <div class="content_wraper container">
        <h3 class="secSm_title">{{'HomePage.Sparkle at Your Fingertips with Our Mobile App'|translate}}</h3>
        <h4 class="secLg_title">{{'HomePage.Buy Brilliance, Anytime, Anywhere'|translate}}</h4>
        <p class="sec_des">{{'HomePage.Sparkle_Content'|translate}}</p>
        <div class="position-relative" style="margin: 0 auto;max-width: 750px;">
            <img src="../../../assets/images/mobile_mockup.png" class="img-fluid mobBG_slider">

            <swiper [config]="digitalSlider" class="digital_slider">
                <img src="../../../assets/images/mobile_mockup.png" class="img-fluid mockUp_img">
                <ng-template swiperSlide>
                    <div class="img_wrap">
                        <img src="../../../assets/images/ss-app-4.png" class="img-fluid">
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="img_wrap">
                        <img src="../../../assets/images/ss-app-1.png" class="img-fluid">
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="img_wrap">
                        <img src="../../../assets/images/ss-app-2.png" class="img-fluid">
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="img_wrap">
                        <img src="../../../assets/images/ss-app-3.png" class="img-fluid">
                    </div>
                </ng-template>
            </swiper>
        </div>
        <div class="digBlock_wrap">
            <div class="item">
                <i class="icon-shape-1"></i>
                {{'HomePage.Expensive Certified Inventory at your fingertip'|translate}}
            </div>
            <div class="item">
                <i class="icon-support_female"></i>
                {{'HomePage.24X7 Customer Support and Assistance'|translate}}
            </div>
            <div class="item">
                <i class="icon-fancy_shape"></i>
                {{'HomePage.Unbeatable Fancy Range with easy viewing'|translate}}
            </div>
        </div>
    </div>
</section>

<div class="modal c-modal dialog-ui announceModal" tabindex="-1" role="dialog" data-keyboard="false"
    data-backdrop="static" *ngIf="isShowAnnounceImg" data-lenis-prevent>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="icon-broadcast"></i>{{"BasicText.Announcement"| translate}}</h5>
                <button type="button" class="close" (click)="closeImageDialog()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <img [src]="announcementImgPath" class="w-100">
                </div>
            </div>
        </div>
        <div (document:keydown.esc)="closeImageDialog()"></div>
    </div>
</div>
<div class="modal dialog-wvd d-block" data-keyboard="false" data-backdrop="static" *ngIf="isWvdDialog"
    data-lenis-prevent>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{'BasicText.VOW (Volume Of Week)'| translate}}</h5>
                <button type="button" class="close" (click)="closeWvdBannerDialog()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="dialog-body vow-modal">
                    <img alt="banner" class="img-responsive img-fluid" src="../assets/images/VOWEN_NEW.jpg"
                        *ngIf="language != 'ch'" />
                    <img alt="banner" class="img-responsive img-fluid" src="../assets/images/VOWCH.png"
                        *ngIf="language == 'ch'" />
                </div>
            </div>
        </div>
    </div>
</div>