button.nsm-dialog-btn-close.ng-star-inserted {
    display: none;
}

.k-button-primary,
.k-button.k-primary {
    border-color: #4d4d4d;
    color: #ffffff;
    background-color: #4d4d4d;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.04));
}

button.btn.btn-primary:hover {
    background-color: rgba(77, 77, 77, 0.7) !important;
}

button.btn.btn-primary[disabled]:hover {
    background: transparent !important;
    color: #000;
}

button.btn.btn-primary:active {
    background-color: #3d3d3d !important;
    opacity: 1;
    color: #fff;
}

.modal-footer>* {
    margin: 0.25rem;
}

.sr .social button.btn.btn-action:hover {
    background: #e1e1e1;
}

.sr .social button.btn.btn-action:active {
    background: #e3e3e3;
}

.btn:focus {
    box-shadow: none !important;
}

.c-searh-btn {
    display: block !important;
}

/* ===== Kendo Overwrite Start ===== */
.k-button-group .k-button {
    line-height: 1;
    border-radius: 3px !important;
    color: #212529 !important;
}

.k-button-group .k-button:first-child,
.k-button-group .k-group-start {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.k-button-group .k-button:last-child,
.k-button-group .k-group-end {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.k-button {
    border-radius: 0.25rem;
    padding: 0.3rem 0.4rem;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    font-size: 14px;
    line-height: 1.5;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    position: relative;
}

.k-panelbar>.k-item>.k-link,
.k-panelbar>.k-panelbar-header>.k-link {
    padding: 9px 16px;
}

button.k-button i {
    color: #000;
}

.k-button:hover {
    background-color: rgba(77, 77, 77, 0.7) !important;
    color: #fff !important;
}

.k-button:active {
    background-color: #3d3d3d !important;
}

.k-button:hover i {
    color: #fff;
    font-size: 14px;
}

.k-button-group .k-button:focus,
.k-button-group .k-button.k-state-focus,
.k-button-group .k-button.k-state-focused,
.k-button:focus,
.k-button.k-state-focus,
.k-button.k-state-focused,
.k-button-secondary:focus,
.k-button-secondary.k-state-focus,
.k-button-secondary.k-state-focused {
    box-shadow: none !important;
}

.k-button:active,
.k-button.k-state-active,
.k-button-secondary:active,
.k-button-secondary.k-state-active {
    background-color: #f4f4f4;
}

.k-button,
.k-button-group .k-button.k-state-disabled:not(.k-state-active),
.k-button-group.k-state-disabled .k-button:not(.k-state-active) {
    color: #222 !important;
    background-color: #f4f4f4 !important;
    border-color: #ddd !important;
}

.k-button.k-state-selected {
    z-index: initial !important;
}

.k-button.k-state-selected,
.k-button-secondary.k-state-selected {
    border-color: #3d3d3d;
    color: #ffffff;
    background-color: #3d3d3d;
}

.form-data .k-upload {
    border-color: transparent;
}

.form-data .k-upload-button input {
    width: initial;
    height: initial;
    background: transparent;
    border: initial;
}

.k-upload .k-button:hover {
    background-color: initial !important;
    color: #3d3d3d;
}

/* ===== Kendo Overwrite end ===== */

/* ===== bootstrap overwrite css custom modal start ===== */

button.btn.btn-primary {
    font-size: 14px;
    color: #000;
    background: #ffffff;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    padding: 4px 8px;
    height: 30px;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background: #3d3d3d;
    border: 1px solid #3d3d3d;
}

button.btn.btn-primary:hover {
    background-color: #3d3d3d;
    color: #fff;
    border-color: #3d3d3d;
}

button:focus {
    outline: none;
}

/* ===== bootstrap overwrite css custom modal end ===== */

/* ===== Login page button css start ===== */

.c-btn {
    width: 100%;
    padding: 10px;
    background: transparent linear-gradient(180deg, #3d3d3d 0%, #0f0f0f 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    color: #fff;
    border: 0;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
}

.form-data.sub-btn {
    margin: 15px 0;
}

/* ===== Login page button css end ===== */

/* ===== Register page button css start ===== */

.c-btn:hover {
    background: transparent linear-gradient(180deg, #0f0f0f 0%, #3d3d3d 100%) 0% 0% no-repeat padding-box;
    border-radius: 7px;
}

/* ===== Register page button css end ===== */

/* ===== Employee page css start ===== */

.f-btn {
    position: absolute;
    right: 0px;
    top: 3px;
    /* z-index   : 1; */
    transition: all 0.5s ease-in;
    display: none;
}

.f-btn button {
    background-color: #3d3d3d;
    border: transparent;
    color: #fff;
    height: 26px;
    width: 26px;
    aspect-ratio: 1;
    line-height: 1;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    box-shadow: -1px 1px 4px #cacaca;
}

.f-btn li:first-child button {
    border-top-left-radius: 3px;
}

.f-btn li:last-child button {
    border-bottom-left-radius: 3px;
}

.f-btn button i {
    font-size: 13px;
}

.f-btn button:hover {
    background-color: #8a8a8a;
}

.f-btn.active {
    right: 250px;
}

.sr .social button.btn.btn-action {
    position: relative;
    width: 100%;
    background: #f2f4f5 0% 0% no-repeat padding-box;
    border: 1px solid #b9bfc1;
    border-radius: 3px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
}

/* ===== Employee page css end ===== */

/* ===== Customer Profile button css start ===== */

.ex-search button {
    background: #f4f4f4 !important;
    border: 1px solid #d3d3d3 !important;
    border-radius: 3px !important;
}

.ex-search button:hover,
.ex-btn:hover {
    background-color: #3d3d3d !important;
}

.ex-search button i {
    padding-right: 8px;
}

.ex-left-data button.ex-btn {
    /* min-width  : 110px; */
    white-space: nowrap;
    font-size: 13px !important;
    padding: 3px 8px !important;
}

/* ===== Customer Profile button css end ===== */