.em-box {
    position: absolute;
    left: 30px;
    background-color: #4d4d4d;
    color: #fff;
    padding: 5px;
    z-index: 9999;
    border: 1px solid #4d4d4d;
    display: none;
    margin-top: -22px;
}

.em-box::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -8px;
    border-top: 10px solid transparent;
    border-right: 10px solid #4d4d4d;
    border-bottom: 10px solid transparent;
}

.i-hov {
    text-align: center;
}

.i-hov:hover .em-box {
    display: block;
}

.i-hov span {
    display: block;
    padding: 2px 0;
}

.i-hov h6.title {
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
}

.purchase-grid {
    display: grid;
    grid-template-columns: 64px 170px 88px 1fr 36px 1fr 70px 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    align-items: center;
}

.input-grid {
    grid-gap: 5px;
    display: grid;
    grid-template-columns: minmax(200px, auto) minmax(50px, auto) minmax(50px, auto) minmax(50px, auto) minmax(50px, auto) minmax(30px, auto) minmax(30px, auto) minmax(30px, auto);
}

.grid-total {
    grid-column-gap: 30px;
    background: #fafafa;
}

.grid-left-total {
    display: grid;
    grid-template-columns: 50px 1fr 56px 1fr 26px 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    align-items: center;
}

.grid-left-total .form-data:last-child {
    grid-column: 6 span / 7;
}

.grid-left-total .form-data textarea {
    height: 70px;
}

.grid-right-total {
    display: grid;
    grid-template-columns: 60px minmax(50px, auto);
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    align-items: center;
}

.dash-ui {
    background: #eee;
    line-height: 1.8;
    padding: 0 5px;
    border-radius: 5px;
    font-weight: 600;
    border: 1px dashed;
    font-size: 11px;
}


.filter-grid {
    grid-template-columns: 45px minmax(100px, auto) 72px minmax(100px, auto) minmax(130px, auto);
}

.filter-grid>*:last-child {
    text-align: right;
}

.filter-grid kendo-label {
    font-size: 13px;
    font-weight: 500;
}

@media (max-width:900px) {
    .mb-grid {
        height: 240px !important;
    }
}

@media only screen and (max-width: 767px) {
    .purchase-grid {
        grid-template-columns: 64px 1fr 100px 1fr !important;
    }
}

@media only screen and (max-width: 575px) {
    .input-grid {
        grid-template-columns: repeat(3, minmax(50px, auto)) !important;
    }

    .input-grid>*:nth-child(6),
    .input-grid>*:nth-child(7),
    .input-grid>*:nth-child(8) {
        grid-row-start: 3 !important;
    }

    .grid-total {
        grid-column-gap: 15px !important;
    }

    .grid-left-total {
        grid-template-columns: 50px 1fr !important;
    }

    .grid-left-total .form-data:last-child {
        grid-column: 2 span / 3 !important;
    }

    .filter-grid {
        grid-template-columns: 45px minmax(100px, auto) 72px minmax(100px, auto) !important;
        grid-column-gap: 10px !important;
    }

    .filter-grid>*:last-child {
        grid-row-start: 2 !important;
        grid-column-start: 1 !important;
        grid-column-end: end !important;
    }
}

@media only screen and (max-width: 480px) {
    .purchase-grid {
        grid-template-columns: 90px minmax(100px, auto) !important;
    }

    .grid-total {
        grid-column-gap: 15px !important;
    }

    .grid-left-total {
        grid-template-columns: auto minmax(50px, auto) !important;
    }

    .grid-left-total .form-data:last-child {
        grid-column: 2 span / 3 !important;
    }
}

@media only screen and (max-width: 420px) {
    .filter-grid {
        grid-template-columns: 75px minmax(100px, auto) !important;
    }

    .filter-grid>*:last-child {
        grid-row-start: 3 !important;
        grid-column-end: 3 !important;
    }
}

@media only screen and (max-width: 360px) {
    .grid-total {
        grid-column-gap: 10px !important;
    }
}