<div class="modal c-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle"><i class="icon-setting"></i>Grid Configuration</h5>
                <button type="button" class="close" (click)="closeGridConfigDialog()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="fields && fields.length > 0">
                    <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12 p-0">
                        <div class="right" dragula="Configuration" [(dragulaModel)]="fields">
                            <div *ngFor="let field of fields" class="list-item">
                                <label for="">
                                    {{field.title}}
                                </label>
                                <div class="item-right">
                                    <input type="text" #cWidth="ngModel" name="cWidth" id="cWidth"
                                        [(ngModel)]="field.width" (keypress)="utilityService.numberOnly($event)">
                                    <kendo-switch class="k-widget k-switch-off" #isSelected="ngModel" name="isSelected"
                                        id="g-chk" [(ngModel)]="field.isSelected"></kendo-switch>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="saveGridConfiguration()"><i
                        class="icon-save"></i>Save</button>
            </div>
        </div>
    </div>
</div>

<div (document:keydown.esc)="closeGridConfigDialog()"></div>