<title>Link Expire</title>
<div class="bg-error">
  <div class="pnot-wrap">
    <div class="pnot-text">
      <!-- <h1 class="fadeInTop"><i class="icon-erroricon"></i>
      </h1> -->
      <h1 class="fadeInTop">
        <img alt="img" class="mb-3" src="../../../../commonAssets/images/vector.png" />
      </h1>
    </div>
    <h2 class="fadeInTop">Oops! You Missed it</h2>
    <p class="fadeInBottom">The proposal link is closed now. Next time try little fast as proposal links where open for
      limited times only.</p>
  </div>
</div>
