.k-tabstrip>.k-content {
    padding: 10px !important;
}

.e-details-n .info-block li {
    font-size: 12px;
    font-weight: 600;
    color: #212529;
    white-space: nowrap;
    width: 100%;
}

.e-details-n .info-block li span {
    font-size: 13px;
    font-weight: normal;
}

/* Collapse tab css */
.i-form.ad-le-top .grid {
    grid-template-columns: 54px 1fr 85px 1fr;
}

.i-form.ad-le-top.isneg .grid {
    grid-template-columns: 54px 1fr 85px 1fr 80px 1fr;
}

.i-form.lab-iss-mod.a-lead .grid {
    grid-template-columns: 55px 90px 165px 165px auto auto;
    align-items: center;
    background-color: #f4f4f4;
    padding: 0px 0px 0px 5px;
    display: flex;
}

.ad-le-top.s-search .grid {
    grid-template-columns: auto auto !important;
    margin-right: 5px;
}

.mo-he-fix .k-content,
.mo-he-fix .treeview_parent,
.cart-item-grid .k-content,
.cart-item-grid .treeview_parent {
    height: 322px;
}

.mo-he-fix .mod-wrap .grid-wrap .k-grid {
    height: 298px;
}

.cart-item-grid .mod-wrap .grid-wrap .k-grid {
    height: calc(100vh - 440px);
}

.mo-he-fix .modal-dialog,
.cart-item-grid .modal-dialog {
    max-width: 1250px;
}

.i-form.co-inv-pa.le-name .grid {
    grid-template-columns: 80px 1fr 55px 1fr;
}

.status-content img {
    max-height: 18px;
    margin-right: 5px;
}

span.sum-title {
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
    display: block;
    width: 100%;
}

span.task-info,
.board-timer {
    font-size: 11px;
    font-weight: 600;
}

span.na-info {
    font-size: 12px;
}

.mo-he-fix .k-tabstrip,
.cart-item-grid .k-tabstrip {
    height: calc(100vh - 350px);
}

.c-width .top {
    text-align: center;
    font-weight: 600;
}

.im-pro {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.im-pro span,
.im-pro span p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
}

.im-pro img {
    max-height: 25px !important;
}

.im-pro:hover span {
    text-decoration: underline;
}

.p-wrap {
    border-bottom: 1px solid #000;
}

.p-wrap h6.title {
    margin: 2px 0;
    border-bottom: initial;
}


.board-timer span.exday {
    color: #ff0000;
}

span.p-unit {
    font-size: 10px;
    margin-left: 1px;
}

.pa-name .grid {
    grid-template-columns: 80px 150px;
}

/* Add Lead Dialog */
.status-btn {
    font-size: 14px;
    background: #f5f5f5;
    border-left: 3px solid #4d4d4d;
}

.lead-info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 10px;
}

.e-details-n .info-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.e-details-n .info-block li {
    margin: 0;
}

/* Add Lead Dialog */
@media (max-width: 900px) {
    .cart-item-grid .mod-wrap .grid-wrap .k-grid {
        height: calc(100vh - 335px);
        min-height: 250px;
    }
}

@media (max-width: 767px) {
    .modal-body {
        max-height: calc(100vh - 120px);
    }
}

@supports (-webkit-touch-callout: none) {
    @media (max-width: 767px) {
        .modal-body {
            max-height: calc(100vh - 180px);
        }
    }
}

@media (max-width: 575px) {
    .e-details-n .info-block {
        grid-template: none;
    }
}