<section class="intro_sec position-relative">
    <div class="content_wraper container">
        <div class="banner_title">
            <h1>{{'CSRPage.Nurturing Dreams, Inspiring Growth'|translate}}</h1>
            <h2>{{'CSRPage.CORPORATE SOCIAL RESPONSIBILITY'|translate}}</h2>
        </div>
        <div class="commintmet_sec">
            <h3 class="secSm_title">{{'CSRPage.Our Commitment'|translate}}</h3>
            <h4 class="secLg_title">{{'CSRPage.Making a Difference Together'|translate}}</h4>
            <p class="sec_des">{{'CSRPage.Commitment_Content'|translate}}</p>
            <a class="sec_btn" href="https://matrushreekashiba.org" target="_blank">
                <span class="icon_wrap"><i class="icon-right_new"></i></span>
                {{'CSRPage.KNOW MORE ABOUT OUR CSR'|translate}}
            </a>
        </div>
    </div>
    <div class="secbg_img">
        <img src="../../../assets/images/csr_sec1bg.png" class="img-fluid"
            alt="glowstar - CORPORATE SOCIAL RESPONSIBILITY">
    </div>
</section>

<section class="service_sec position-relative">
    <div class="content_wraper container">
        <div class="content1">
            <h3 class="secSm_title">{{'CSRPage.IMPACT'|translate}}</h3>
            <h4 class="secLg_title">{{'CSRPage.Our Ground Breaking Services'|translate}}</h4>
            <p class="sec_des">{{'CSRPage.Impact_Content'|translate}}</p>
        </div>
    </div>
    <div class="content_wraper">
        <div class="service_Wrap">
            <div class="serBox">
                <h4 class="secLg_title" [countUp]="209" [options]="{ enableScrollSpy: true, duration:4 }"></h4>
                <p class="sec_des">{{'CSRPage.Inaugurated Schools'|translate}}</p>
            </div>
            <div class="serBox">
                <h4 class="secLg_title" [countUp]="27" [options]="{ enableScrollSpy: true, duration:3.1 }"></h4>
                <p class="sec_des">{{'CSRPage.Under-Construction'|translate}}</p>
            </div>
            <div class="serBox">
                <h4 class="secLg_title" [countUp]="73" [options]="{ enableScrollSpy: true, duration:3.5 }"></h4>
                <p class="sec_des">{{'CSRPage.Awaited School Location'|translate}}</p>
            </div>
            <div class="serBox">
                <h4 class="secLg_title" [countUp]="25" [options]="{ enableScrollSpy: true, duration:3 }"></h4>
                <p class="sec_des">{{'CSRPage.Awaited Associate Doner'|translate}}</p>
            </div>
            <div class="serBox">
                <h4 class="secLg_title" [countUp]="309" [options]="{ enableScrollSpy: true, duration:4.5 }"></h4>
                <p class="sec_des">{{'CSRPage.Mission of Total Schools'|translate}}</p>
            </div>
        </div>
    </div>
    <div class="secbg_img">
        <img src="../../../assets/images/csr_sec2bg.png" class="img-fluid"
            alt="glowstar - Our Ground Breaking Services">
    </div>
</section>

<section class="stepHead_sec">
    <div class="content_wraper container">
        <h4 class="secLg_title">{{'CSRPage.5 steps for empowerment'|translate}}</h4>
        <p class="sec_des">"{{'CSRPage.5step_Content'|translate}}"</p>
    </div>
</section>

<section class="identity_sec position-relative" id="identify_sec">
    <div class="content_wraper container">
        <div class="content1">
            <h3 class="secSm_title">{{'CSRPage.RECOGNIZING THE GAPS, RESPONDING TO THE NEEDS'|translate}}</h3>
            <h4 class="secLg_title">{{'CSRPage.Identify'|translate}}</h4>
            <p class="sec_des">{{'CSRPage.Identify_Content'|translate}}</p>
        </div>
    </div>
    <div class="secbg_img">
        <img src="../../../assets/images/csrBgStep_img1.png" class="img-fluid"
            alt="glowstar - RECOGNIZING THE GAPS, RESPONDING TO THE NEEDS">
    </div>
</section>

<section class="assess_sec position-relative" id="assess_sec">
    <div class="content_wraper container">
        <div class="content1">
            <h3 class="secSm_title">{{'CSRPage.Evaluating to plan precisely'|translate}}</h3>
            <h4 class="secLg_title">{{'CSRPage.Assess'|translate}}</h4>
            <p class="sec_des">{{'CSRPage.Assess_Content'|translate}}</p>
        </div>
    </div>
    <div class="secbg_img">
        <img src="../../../assets/images/csrBgStep_img2.png" class="img-fluid"
            alt="glowstar - Evaluating to plan precisely">
    </div>
</section>


<section class="construct_sec position-relative" id="construct_sec">
    <div class="content_wraper container">
        <div class="content1">
            <h3 class="secSm_title">{{'CSRPage.Building foundations for brighter futures'|translate}}</h3>
            <h4 class="secLg_title">{{'CSRPage.Construct'|translate}}</h4>
            <p class="sec_des">{{'CSRPage.Construct_Content'|translate}}</p>
        </div>
    </div>
    <div class="content_wraper">
        <div class="img_wrap">
            <img src="../../../assets/images/construct2_img.png" class="img-fluid" alt="Construct image">
        </div>
    </div>
</section>

<section class="elevate_sec position-relative" id="elevate_sec">
    <div class="content_wraper container">
        <div class="content1">
            <h3 class="secSm_title">{{'CSRPage.Uplifting lives through education'|translate}}</h3>
            <h4 class="secLg_title">{{'CSRPage.Elevate'|translate}}</h4>
            <p class="sec_des">{{'CSRPage.Elevate_Content'|translate}}</p>
        </div>
    </div>
    <div class="secbg_img">
        <img src="../../../assets/images/csrBgStep_img4.png" class="img-fluid"
            alt="glowstar - Evaluating to plan precisely">
    </div>
</section>

<section class="enrich_sec" id="enrich_sec">
    <div class="content_wraper container">
        <h3 class="secSm_title">{{'CSRPage.Uplifting lives through education'|translate}}</h3>
        <h4 class="secLg_title">{{'CSRPage.Enrich'|translate}}</h4>
        <p class="sec_des">{{'CSRPage.Enrich_Content'|translate}}</p>

        <swiper [config]="enrichSlider" class="enrich_slider">
            <ng-template swiperSlide>
                <div class="content_box">
                    <div class="img_wrap">
                        <img src="../../../assets/images/Enrich_Slide_img1.jpg" class="img-fluid" alt="slider-img-1">
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="content_box">
                    <div class="img_wrap">
                        <img src="../../../assets/images/Enrich_Slide_img2.jpg" class="img-fluid" alt="slider-img-2">
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="content_box">
                    <div class="img_wrap">
                        <img src="../../../assets/images/Enrich_Slide_img3.jpg" class="img-fluid" alt="slider-img-3">
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="content_box">
                    <div class="img_wrap">
                        <img src="../../../assets/images/Enrich_Slide_img4.jpg" class="img-fluid" alt="slider-img-4">
                    </div>
                </div>
            </ng-template>
        </swiper>
    </div>
</section>

<section class="testimony_sec">
    <div class="mGrid_wrap">

        <swiper [config]="testimonySlider" class="imgGalley_slider">
            <ng-template swiperSlide>
                <div class="img_wrap">
                    <img src="../../../assets/images/testimonySlide_img1.png" class="img-fluid" alt="slider-img-1">
                    <span class="img_desc">Rajpur <br>Kelvani Mandal</span>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="img_wrap">
                    <img src="../../../assets/images/testimonySlide_img2.png" class="img-fluid" alt="slider-img-1">
                    <span class="img_desc">Shri Devrajbhai Bavabhai Tejani Kanya <br> Chatralaya</span>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="img_wrap">
                    <img src="../../../assets/images/testimonySlide_img3.png" class="img-fluid" alt="slider-img-1">
                    <span class="img_desc">Matrushri Shivuba <br> Gordhanbhai Goti</span>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="img_wrap">
                    <img src="../../../assets/images/testimonySlide_img4.png" class="img-fluid" alt="slider-img-1">
                    <span class="img_desc">I M Human <br>Asharamshala</span>
                </div>
            </ng-template>
        </swiper>

        <div class="gridBox">
            <div class="content_wraper content">
                <h3 class="secSm_title">{{'CSRPage.TESTIMONY OF OUTSTANDING WORK'|translate}}</h3>
                <h4 class="secLg_title">{{'CSRPage.Transforming Education and Lives'|translate}}</h4>
                <p class="sec_des">{{'CSRPage.TESTIMONY_Content'|translate}}</p>
            </div>
        </div>
    </div>
</section>

<section class="initiative_sec">
    <div class="mGrid_wrap">
        <div class="gridBox">
            <div class="content_wraper content">
                <h3 class="secSm_title">{{'CSRPage.INITIATIVES'|translate}}</h3>
                <h4 class="secLg_title">{{'CSRPage.Educating for a Stronger Tomorrow'|translate}}</h4>
                <p class="sec_des">{{'CSRPage.Initiative_Content'|translate}}</p>
            </div>
        </div>
        <swiper [config]="initiativeSlider" class="imgGalley_slider">
            <ng-template swiperSlide>
                <div class="img_wrap">
                    <img src="../../../assets/images/initiSlide_img1.png" class="img-fluid" alt="slider-img-1">
                    <span class="img_desc">Employment and <br> Education Campaign</span>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="img_wrap">
                    <img src="../../../assets/images/initiSlide_img2.png" class="img-fluid" alt="slider-img-1">
                    <span class="img_desc">Cultivating Cultural <br>Heritage</span>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="img_wrap">
                    <img src="../../../assets/images/initiSlide_img3.png" class="img-fluid" alt="slider-img-1">
                    <span class="img_desc">Respect for Nation :<br>An Ideological Campaign</span>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="img_wrap">
                    <img src="../../../assets/images/initiSlide_img4.png" class="img-fluid" alt="slider-img-1">
                    <span class="img_desc">Kitchen & <br>Dining Room</span>
                </div>
            </ng-template>
        </swiper>
    </div>
</section>

<section class="presiMsg_sec">
    <div class="content_wraper container">
        <h4 class="secLg_title">{{'CSRPage.President Message'|translate}}</h4>
        <div class="img_wrap">
            <img src="../../../assets/images/president_img.png" class="img-fluid" alt="glowstar - president Message">
        </div>
        <p class="sec_des">{{'CSRPage.PresiMsg_Content'|translate}}</p>
    </div>
</section>