<section class="terms_sec bg_theme">
  <div class="cus_container">
    <div class="sec_title">
      <span>{{"BasicText.term&cond" | translate}}</span>
      <img src="../../../assets/images/svg/title_diaIcon.svg" class="img-fluid" alt="diamond icon">
    </div>

    <div class="content_wrap terms-detail">
      <ul class="bg_content">
        <li>{{"TermsCondition.Desc1" | translate}}</li>
        <li>{{"TermsCondition.Desc2" | translate}}</li>
        <li>{{"TermsCondition.Desc3" | translate}}</li>
        <li>{{"TermsCondition.Desc4" | translate}}</li>
        <li>{{"TermsCondition.Desc5" | translate}}</li>
        <li>{{"TermsCondition.Desc6" | translate}}</li>
        <li>{{"TermsCondition.Desc7" | translate}}</li>
        <li>{{"TermsCondition.Desc8" | translate}}</li>
      </ul>
    </div>

    <div class="content_wrap condition-point">
      <h4 class="bloc_title">
        <i class="icon-thumb"></i>
        {{"TermsCondition.ORDERPOLICY.ORDERPOLICY" | translate}}
      </h4>
      <ul class="bg_content">
        <li>{{"TermsCondition.ORDERPOLICY.Desc1" | translate}}</li>
      </ul>
    </div>

    <div class="content_wrap policy-detail">
      <h4 class="bloc_title">
        <i class="icon-thumb"></i>
        {{"TermsCondition.ShipmentPolicy.ShipmentPolicy" | translate}}
      </h4>
      <ul class="bg_content">
        <li>{{"TermsCondition.ShipmentPolicy.Desc1" | translate}}</li>
        <li>{{"TermsCondition.ShipmentPolicy.Desc2" | translate}}</li>
        <li>{{"TermsCondition.ShipmentPolicy.Desc3" | translate}}</li>
        <li>{{"TermsCondition.ShipmentPolicy.Desc4" | translate}}</li>
        <li>{{"TermsCondition.ShipmentPolicy.Desc5" | translate}}</li>
        <li>{{"TermsCondition.ShipmentPolicy.Desc6" | translate}}</li>
      </ul>
    </div>

    <div class="content_wrap policy-detail">
      <h4 class="bloc_title">
        <i class="icon-thumb"></i>
        {{"TermsCondition.ConflictFreePolicy.ConflictFreePolicy" | translate}}
      </h4>
      <ul class="bg_content">
        <li>{{"TermsCondition.ConflictFreePolicy.Desc1" | translate}}</li>
        <li>{{"TermsCondition.ConflictFreePolicy.Desc2" | translate}}</li>
      </ul>
    </div>

    <div class="content_wrap policy-detail">
      <h4 class="bloc_title">
        <i class="icon-thumb"></i>
        {{"TermsCondition.PricePolicy.PricePolicy" | translate}}
      </h4>
      <ul class="bg_content">
        <li>{{"TermsCondition.PricePolicy.Desc1" | translate}}</li>
        <li>{{"TermsCondition.PricePolicy.Desc2" | translate}}</li>
        <li>{{"TermsCondition.PricePolicy.Desc3" | translate}}</li>
        <li>{{"TermsCondition.PricePolicy.Desc4" | translate}}</li>
        <li>{{"TermsCondition.PricePolicy.Desc5" | translate}}</li>
        <li>{{"TermsCondition.PricePolicy.Desc6" | translate}}</li>
      </ul>
    </div>

    <div class="content_wrap policy-detail">
      <h4 class="bloc_title">
        <i class="icon-thumb"></i>
        {{"TermsCondition.PaymentPolicy.PaymentPolicy" | translate}}
      </h4>
      <ul class="bg_content">
        <li>{{"TermsCondition.PaymentPolicy.Desc1" | translate}}</li>
        <li>{{"TermsCondition.PaymentPolicy.Desc2" | translate}}</li>
        <li>{{"TermsCondition.PaymentPolicy.Desc3" | translate}}</li>
        <li>{{"TermsCondition.PaymentPolicy.Desc4" | translate}}</li>
        <li>{{"TermsCondition.PaymentPolicy.Desc5" | translate}}</li>
      </ul>
    </div>

    <div class="content_wrap policy-detail">
      <h4 class="bloc_title">
        <i class="icon-thumb"></i>
        {{"TermsCondition.PolicyforMinor.PolicyforMinor" | translate}}
      </h4>
      <ul class="bg_content">
        <li>{{"TermsCondition.PolicyforMinor.Desc1" | translate}}</li>
      </ul>
    </div>

    <div class="content_wrap policy-detail">
      <h4 class="bloc_title">
        <i class="icon-thumb"></i>
        {{"TermsCondition.PolicyAmendment.PolicyAmendment" | translate}}
      </h4>
      <ul class="bg_content">
        <li>{{"TermsCondition.PolicyAmendment.Desc1" | translate}}</li>
        <li>{{"TermsCondition.PolicyAmendment.Desc2" | translate}}</li>
      </ul>
    </div>
  </div>
</section>