.wibox-wrap {
    border: 1px solid #d3d3d3;
}

.wi-info {
    text-align: center;
    padding: 10px 0;
}

h6.wi-title {
    font-weight: 700;
    font-size: 16px;
    color: #000;
    letter-spacing: 0.48px;
    line-height: 18px;
}

.wi-info li {
    display: inline-block;
    padding: 3px 12px;
    font-weight: 500;
    font-size: 14px;
    color: #000;
    position: relative;
}

.wi-info li:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    background: #000;
    height: 15px;
    width: 2px;
    transform: translate(-100%, -50%);
}

.wi-info li:last-child:after {
    content: "";
    background: transparent;
}

.sm-sli {
    position: relative;
}

.sm-sli .del-product {
    position: absolute;
    top: -2px;
    right: -5px;
    font-size: 12px;
    cursor: pointer;
    z-index: 1;
    color: #fff;
    background: #4d4d4d;
    border-radius: 3px;
    padding: 2px 3px;
    line-height: 12px;
}

.stone-certi {
    height: 60px;
    border: 0;
}