<!-- #region Add Order Modal Start -->
<div class="addemp c-modal modal cart-item-grid mo-he-fix lead-rs lead-xs" tabindex="-1" role="dialog"
  data-keyboard="false" data-backdrop="static">
  <form name="orderform" #Order="ngForm">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id=""><i class="icon-order"></i>Order
            Information</h5>
          <button type="button" class="close" (click)="toggleOrderDialog()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12" [ngClass]="{'lead-info-grid':(lead.broker.id)}">
              <div class="en-form f-12">
                <div class="align-items-center d-flex justify-content-between p-wrap">
                  <h6 class="title"><i class="icon-party"></i>Customer Information</h6>
                  <div class="float-end d-flex">
                    <h6 class="ld-no me-2"><span>Lead No: </span><b> {{lead.leadNo}} </b></h6>
                    <h6 class="ld-no"><span>OrderDate: </span><b> {{lead.orderDate | date: 'dd/MM/yyyy'}} </b></h6>
                  </div>
                </div>
                <div class="e-details-n mt-2">
                  <div class="info-block ci-lead" [ngClass]="{'we-2':(lead.broker.id),'we-4':(!lead.broker.id)}">
                    <li [ngClass]="{'w-100':!(!lead.broker.id)}">
                      <h6 class="c-name text-ellipsset" kendoTooltip position="bottom"
                        title="{{lead.customer.companyName}}-{{lead.customer.name}}">
                        <span>PartyName:</span>
                        <span class="mb-0"><b>{{lead.customer.companyName}}</b>-{{lead.customer.name}}</span>
                      </h6>
                    </li>
                    <li>
                      <h6 class="c-name"><span>Email:</span>{{lead.customer.email}}</h6>
                    </li>
                    <li>
                      <h6 class="c-name"><span>Mobile
                          No.:</span>{{lead.customer.mobile}}
                      </h6>
                    </li>
                    <li *ngIf="lead.pickupLocation">
                      <h6 class="c-name">
                        <span>PickUp Location:</span>{{lead.pickupLocation}}
                      </h6>
                    </li>
                  </div>
                </div>
              </div>

              <div class="en-form f-12" *ngIf="lead?.broker?.id">
                <h6 class="title">
                  <i class="icon-broker"></i>Broker Information
                </h6>
                <div class="e-details-n">
                  <div class="info-block we-2 bi-lead">
                    <li>
                      <h6 class="c-name"><span>Name:</span>{{lead.broker.name}}</h6>
                    </li>
                    <li>
                      <h6 class="c-name"><span>Email:</span>{{lead.broker.email}}</h6>
                    </li>
                    <li>
                      <h6 class="c-name"><span>Mobile No.:</span>{{lead.broker.mobileNo}}
                      </h6>
                    </li>
                    <li>
                      <h6 class="c-name"><span>Brokrage (%):</span>{{lead.broker.brokrage}}
                      </h6>
                    </li>
                  </div>
                </div>
              </div>

              <div class="en-form f-12 order-rs">
                <h6 class="title d-flex justify-content-between">
                  <span><i class="icon-broker"></i>Supplier Information</span>
                  <button type="button" [disabled]="!(selectedPSupplierItem || selectedViaSupplierItem)"
                    (click)="setPrimarySupplier()" class="btn btn-primary"><i class="icon-add pe-0"></i></button>
                </h6>
                <div class="supplier-inf-grid">
                  <div class="grid">

                    <div class="form-data" *ngIf="stoneSuppliersList.length > 0">
                      <label>Supplier</label>
                    </div>
                    <div class="form-data mul-select">
                      <kendo-multiselect name="status" class="customselect" [data]="stoneSuppliersList"
                        [(ngModel)]="selectedSupplierItems" [textField]="'name'" [valueField]="'value'"
                        [valuePrimitive]="true" [popupSettings]="{width: 'auto'}" [autoClose]="false"
                        [kendoMultiSelectSummaryTag]="0" [kendoDropDownFilter]="filterSettings"
                        (valueChange)="utilityService.onMultiSelectValueChange(stoneSuppliersList, selectedSupplierItems)">
                        <ng-template kendoComboBoxHeaderTemplate>
                          <div class="dropdown-header single k-widget k-header">
                            <span class="temp-single">Select Supplier</span>
                          </div>
                        </ng-template>
                        <ng-template kendoMultiSelectItemTemplate let-dataItem>
                          <input type="checkbox" class="k-checkbox" [checked]="dataItem.isChecked">
                          <label class="k-checkbox-label"> {{dataItem.name}} </label>
                        </ng-template>
                        <ng-template kendoMultiSelectGroupTagTemplate let-dataItems>
                          <span kendoTooltip position="bottom"
                            [title]="utilityService.getCommaSapratedStringFromData(selectedSupplierItems,stoneSuppliersList, true)">
                            {{utilityService.getCommaSapratedStringFromData(selectedSupplierItems,stoneSuppliersList)}}
                          </span>
                        </ng-template>
                      </kendo-multiselect>
                    </div>

                    <div class="form-data">
                      <label>P. Supplier</label>
                    </div>
                    <div class="form-data">
                      <kendo-combobox [data]="listSupplierItems" textField="text" [kendoDropDownFilter]="filterSettings"
                        valueField="value" name="PSupplier" [(ngModel)]="selectedPSupplierItem"
                        [disabled]="(selectedSupplierItems.length == 0 && mySelection.length == 0)"
                        (valueChange)="pSupplierChange()" #PSupplier="ngModel">
                      </kendo-combobox>
                    </div>

                    <div class="form-data">
                      <label>Via Supplier</label>
                    </div>
                    <div class="form-data">
                      <kendo-combobox [data]="listSupplierItems" textField="text" [kendoDropDownFilter]="filterSettings"
                        valueField="value" name="VSupplier" [(ngModel)]="selectedViaSupplierItem"
                        [disabled]="(!this.pSupplierObj.id)" (valueChange)="viaSupplierChange()" #VSupplier="ngModel">
                      </kendo-combobox>
                    </div>

                    <div class="form-data">
                      <label>CC Type</label>
                    </div>
                    <div class="form-data"
                      [ngClass]="{ 'error': convCurrencyType.invalid && (convCurrencyType.dirty || convCurrencyType.touched)}">
                      <kendo-combobox class="w-auto" [data]="dollarConversionRateList" [valuePrimitive]="true"
                        textField="toCurrency" valueField="toCurrency" name="convCurrencyType"
                        [kendoDropDownFilter]="filterSettings" [(ngModel)]="ccType" #convCurrencyType="ngModel"
                        (valueChange)="currencyChange()"
                        [disabled]="(selectedSupplierItems.length == 0 && mySelection.length == 0)">
                      </kendo-combobox>
                    </div>

                    <div class="form-data">
                      <label>CC Rate</label>
                    </div>
                    <div class="form-data">
                      <input type="text" name="convcurrencyRate" autocomplete="off" [(ngModel)]="ccRate"
                        #convcurrencyRate="ngModel" id="convcurrencyRate" (keypress)="utilityService.floatOnly($event)"
                        [disabled]="(selectedSupplierItems.length == 0 && mySelection.length == 0)">
                    </div>

                    <div class="form-data">
                      <label>Terms</label>
                    </div>
                    <div class="form-data">
                      <kendo-combobox [data]="listTermsItems" name="termType" [kendoDropDownFilter]="filterSettings"
                        [(ngModel)]="selectedTerms" #termType="ngModel" [valuePrimitive]="true"
                        placeholder="Select Terms" [popupSettings]="{width: 'auto'}">
                      </kendo-combobox>
                    </div>

                    <div class="form-data">
                      <label>Remark</label>
                    </div>
                    <div class="form-data">
                      <input type="text" class="form-control" name="remark" #remark="ngModel"
                        [(ngModel)]="selectedRemark">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-wrap mt-2">
            <kendo-tabstrip>
              <kendo-tabstrip-tab title="" [selected]="true">
                <ng-template kendoTabTitle>
                  <i class="icon-info" title="Details"></i>&nbsp;
                </ng-template>
                <ng-template kendoTabContent>
                  <div class="tab-data le-details">
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="en-form f-12">
                          <div class="i-form lab-iss-mod a-lead m-0">
                            <div class="d-flex align-items-center">
                              <div class="form-data me-2">
                                <label>Select Stones</label>
                              </div>
                              <div class="form-data">
                                <input autocomplete="off" type="text" id="selectstone" #SelectStoneTxtInput
                                  name="selectstone" class="c-wi">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mod-wrap mt-2">
                          <div class="grid-wrap chk-grid">
                            <kendo-grid [data]="gridViewOrderInventory" class="grid-ui upload-grid" [sortable]="true"
                              [pageSize]="pageSize" [skip]="skip" [pageable]="true" [groupable]="true" [group]="groups"
                              (groupChange)="groupChange($event)" [resizable]="true" (pageChange)="pageChange($event)"
                              [selectable]="selectableSettings" [(selectedKeys)]="mySelection"
                              [kendoGridSelectBy]="'stoneId'">
                              <kendo-grid-checkbox-column [showSelectAll]="isShowCheckBoxAll" [width]="40">
                                <ng-template *ngIf="isShowCheckBoxAll" kendoGridHeaderTemplate>
                                  <input kendoGridSelectAllCheckbox type="checkbox" class="k-checkbox"
                                    id="headerCheckbox" (selectAllChange)="selectAllInvList($event)" />
                                  <label class="k-checkbox-label" for="headerCheckbox"></label>
                                </ng-template>
                              </kendo-grid-checkbox-column>
                              <ng-container *ngIf="fields && fields.length > 0">
                                <ng-container *ngFor="let field of fields;let i= index">
                                  <ng-container *ngIf="field.isSelected">
                                    <kendo-grid-column [width]="field.width" [field]="field.propertyName"
                                      [title]="field.title">
                                      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex"
                                        *ngIf="field.title == 'Hold'">
                                        <input type="checkbox" class="k-checkbox" id="checkbox-{{rowIndex}}"
                                          [checked]="dataItem.isHold" [disabled]="true" />
                                        <label class="k-checkbox-label" for="checkbox-{{rowIndex}}">
                                        </label>
                                      </ng-template>
                                    </kendo-grid-column>
                                  </ng-container>
                                </ng-container>
                              </ng-container>
                            </kendo-grid>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </kendo-tabstrip-tab>
              <kendo-tabstrip-tab title="">
                <ng-template kendoTabTitle>
                  <i class="icon-history" title="History"></i>&nbsp;
                </ng-template>
                <ng-template kendoTabContent>
                  <div class="tab-data le-history">
                    History Details
                  </div>
                </ng-template>
              </kendo-tabstrip-tab>
              <kendo-tabstrip-tab title="">
                <ng-template kendoTabTitle>
                  <i class="icon-wechat" title="Chat"></i>&nbsp;
                </ng-template>
                <ng-template kendoTabContent>
                  <div class="tab-data le-link">
                    Chat Details
                  </div>
                </ng-template>
              </kendo-tabstrip-tab>
              <kendo-tabstrip-tab title="">
                <ng-template kendoTabTitle>
                  <i class="icon-attachament" title="Attachment"></i>&nbsp;
                </ng-template>
                <ng-template kendoTabContent>
                  <div class="tab-data le-file">
                    Attachment Details
                  </div>
                </ng-template>
              </kendo-tabstrip-tab>
            </kendo-tabstrip>
          </div>

          <div class="cart-info" [ngStyle]="{'justify-content':  'end' }">
            <div class="left-count left-admin">
              <table class="position-relative me-4">
                <tr>
                  <td>PCS : </td>
                  <td>{{lead.leadSummary.totalPcs}}</td>
                </tr>
                <tr>
                  <td>CARAT : </td>
                  <td>{{lead.leadSummary.totalCarat|
                    number:'0.2-2'}}
                  </td>
                </tr>
                <tr>
                  <td>AVG. RAP ($) : </td>
                  <td>{{lead.leadSummary.avgRap| number:'0.2-2'}}
                  </td>
                </tr>
                <tr>
                  <td>AVG. DISC. (%) :</td>
                  <td>{{lead.leadSummary.avgDiscPer|
                    number:'0.2-2'}}
                  </td>
                </tr>
                <tr>
                  <td>PER CARAT ($) : </td>
                  <td>{{lead.leadSummary.perCarat| number:'0.2-2'}}
                  </td>
                </tr>
                <tr>
                  <td>AMT ($) : </td>
                  <td>{{lead.leadSummary.totalAmount|
                    number:'0.2-2'}}
                  </td>
                </tr>
              </table>
              <table>
                <tr>
                  <td>{{lead.platform=='offline'?"Volume":"V.O.W."}} DISC. (%) : </td>
                  <td>{{lead.leadSummary.totalVOWDiscPer|
                    number:'0.2-2'}}</td>
                </tr>
                <tr>
                  <td>{{lead.platform=='offline'?"Volume":"V.O.W."}} DISC. ($) : </td>
                  <td>{{lead.leadSummary.totalVOWDiscAmount|
                    number:'0.2-2'}}</td>
                </tr>
                <tr>
                  <td>DISC. (%) : </td>
                  <td>{{lead.leadSummary.discPer|
                    number:'0.2-2'}}</td>
                </tr>
                <tr>
                  <td>PRICE PER CARAT ($) : </td>
                  <td>{{lead.leadSummary.pricePerCarat|
                    number:'0.2-2'}}</td>
                </tr>
                <tr>
                  <td>PAYABLE AMT ($) : </td>
                  <td>{{lead.leadSummary.totalPayableAmount|
                    number:'0.2-2'}}</td>
                </tr>
              </table>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <!-- *ngIf="!lead.processDate" -->
          <button type="button" [disabled]="isDisabledSave" class="btn btn-primary" (click)="submitApprovedOrder()"><i
              class="icon-save"></i>Save</button>
          <button type="button" *ngIf="lead.processDate" class="btn btn-primary" (click)="resetOrder()"><i
              class="icon-clear"></i>Reset</button>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- #endregion Add Order Modal End -->