<section class="intro_banner position-relative">
    <div class="content_wraper">
        <div class="banner_title">
            <h1>{{'SustainPage.Shaping a Brighter Future'|translate}}</h1>
            <h2>{{'SustainPage.SUSTAINABILITY'|translate}}</h2>
        </div>
    </div>
    <div class="secbg_img">
        <picture>
            <source srcset="../../../assets/images/sustain_bg1-mob.png" media="(max-width: 991px)">
            <img src="../../../assets/images/sustain_bg1.png" class="img-fluid"
                alt="glowstar - Shaping a Brighter Future">
        </picture>
    </div>
</section>

<section class="journyDiam_sec position-relative" id="journyDia_sec">
    <div class="content_wraper container">
        <div class="content1">
            <h3 class="secSm_title">{{'SustainPage.TRACEABILITY'|translate}}</h3>
            <h4 class="secLg_title">{{'SustainPage.Journey of Our Diamonds'|translate}}</h4>
            <p class="sec_des">{{'SustainPage.JourneyDiam_sec'|translate}}</p>
        </div>
    </div>
    <div class="secbg_img">
        <img src="../../../assets/images/sustain_bg2.png" class="img-fluid" alt="glowstar - Journey of Our Diamonds">
    </div>
</section>

<section class="source_sec position-relative" id="sourceInte_sec">
    <div class="content_wraper container">
        <div class="content1">
            <h3 class="secSm_title">{{'SustainPage.TRACEABILITY'|translate}}</h3>
            <h4 class="secLg_title">{{'SustainPage.Sourced with Integrity'|translate}}</h4>
            <p class="sec_des">{{'SustainPage.SourcedInte_Content'|translate}}</p>
        </div>
    </div>
    <div class="secbg_img">
        <img src="../../../assets/images/sustain_bg3.png" class="img-fluid" alt="glowstar - Sourced with Integrity">
    </div>
</section>

<section class="transp_sec position-relative">
    <div class="content_wraper">
        <div class="mGrid_wrap">
            <div class="gridBox">
                <h3 class="secSm_title">{{'SustainPage.TRACEABILITY'|translate}}</h3>
                <h4 class="secLg_title">{{'SustainPage.Transparent and Traceable'|translate}}</h4>
                <p class="sec_des">{{'SustainPage.TransTrace_Content'|translate}}</p>
            </div>
            <div class="gridBox">
                <div class="img_wrap">
                    <img src="../../../assets/images/traceTransparent.png" class="img-fluid"
                        alt="glowstar - Transparent and Traceable">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="policPerfe_sec position-relative" id="poliPerfe_sec">
    <div class="content_wraper">
        <div class="content1">
            <h3 class="secSm_title">{{'SustainPage.TRACEABILITY'|translate}}</h3>
            <h4 class="secLg_title">{{'SustainPage.Polished to Perfection'|translate}}</h4>
        </div>
        <div class="content2">
            <p class="sec_des">{{'SustainPage.PolisPerfe_Content'|translate}}</p>
        </div>
    </div>
    <div class="secbg_img">
        <img src="../../../assets/images/sustain_bg4.png" class="img-fluid" alt="glowstar - Sourced with Integrity">
    </div>
</section>

<section class="ethicalBusi_sec" id="ethicalBusi_sec">
    <div class="content_wraper">
        <h3 class="secSm_title">{{'SustainPage.Ethical Business Practices'|translate}}</h3>
        <h4 class="secLg_title">{{'SustainPage.Upholding Ethical Standards in Every Facet'|translate}}</h4>
        <div class="csrimg_wrap">
            <img src="../../../assets/images/ethiBusi_img1.png" class="img-fluid"
                alt="glowstar - Ethical Business Practices">
        </div>
        <p class="sec_des">{{'SustainPage.EthiBusi_Content'|translate}}</p>
    </div>
</section>

<section class="certiEnsur_sec position-relative" id="certiEnsur_sec">
    <div class="content_wraper">
        <div class="content1">
            <div class="mGrid_wrap">
                <div class="gridBox">
                    <h3 class="secSm_title">{{'SustainPage.CERTIFICATIONS'|translate}}</h3>
                    <h4 class="secLg_title">{{'SustainPage.Ensuring Quality and Authenticity'|translate}}</h4>
                    <p class="sec_des">{{'SustainPage.Certi_Contain'|translate}}</p>
                </div>
                <div class="gridBox">
                    <div class="img_wrap">
                        <img src="../../../assets/images/certi_img.jpg" class="img-fluid"
                            alt="glowstar - Ensuring Quality and Authenticity">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="secbg_img">
        <img src="../../../assets/images/sustain_bg5.png" class="img-fluid" alt="glowstar - Sourced with Integrity">
    </div>
</section>

<section class="backToSoc_sec position-relative">
    <div class="content_wraper container">
        <h3 class="secSm_title">{{'SustainPage.Giving Back to Society'|translate}}</h3>
        <h4 class="secLg_title">{{'SustainPage.Our Commitment to Education and Community'|translate}}</h4>
        <div class="csrimg_wrap">
            <img src="../../../assets/images/backToSoc_img.jpg" class="img-fluid" alt="Giving Back to Society">
        </div>
        <p class="sec_des">{{'SustainPage.GivingSoc_Content'|translate}}</p>
        <a routerLink="/csr" [routerLink]="companyName == 'Glowstar' ? '/csr' : ''" class="sec_btn">
            <span class="icon_wrap"><i class="icon-right_new"></i></span>{{'SustainPage.KNOW MORE ABOUT CSR'|translate}}
        </a>
    </div>
</section>