<title>Memo</title>
<section class="memomaster-wrap">
  <div class="content_wrap">
    <div class="d-flex">
      <div class="e-left">
        <div class="breadcrumb">
          <div class="breadcrumb-left">
            <ul>
              <li class="breadcrumb-item" routerLink="/"><i class="icon-home"></i>Home</li>
              <li class="breadcrumb-item active" aria-current="page">Memo</li>
            </ul>
          </div>
        </div>
        <div class="summarybar bg">
          <div class="summary-left">
            <ul>
              <li>LMP.PCS : <span>{{memoSummary.lpCount}}</span></li>
              <li>LMP.Weight : <span>{{memoSummary.lpWeight}}</span></li>
              <li>OMP.PCS : <span>{{memoSummary.opCount}}</span></li>
              <li>OMP.Weight : <span>{{memoSummary.opWeight}}</span></li>
              <li>Issue : <span>{{memoSummary.issueCount}}</span></li>
              <li>Receive : <span>{{memoSummary.reciveCount}}</span></li>
              <li>Pending  : <span>{{memoSummary.pandingCount}}</span></li>
            </ul>
          </div>
          <div class="summary-right">
            <kendo-buttongroup kendoTooltip position="bottom" *ngIf="isViewButtons">
              <button kendoButton (click)="openMemoDialog()" title="Issue"><i class="icon-memoissue"></i></button>
              <button kendoButton (click)="dblClick()" [disabled]="!isViewOnly" title="Receive"><i
                  class="icon-Manual_Issue_Packet"></i></button>
              <button kendoButton [disabled]="mySelection.length == 0" (click)="openEditMemoDialog()" title="Edit"><i
                  class="icon-edit"></i></button>
              <button kendoButton [disabled]="mySelection.length == 0" #anchor (click)="onExcelToggle()" title="Excel Export"><i
                  class="icon-excelnew "></i></button>
            </kendo-buttongroup>
            <kendo-popup [anchor]="$any(anchor)" #popup (anchorViewportLeave)="showExcelOption = false"
              *ngIf="showExcelOption" [anchorAlign]="anchorAlign" [popupAlign]="popupAlign">
              <div class="p-2 pb-0">
                <div class="mb-2">
                  <input type="radio" name="excelOption" value="exportSheet" #exportSheet [(ngModel)]="excelOption"
                    kendoRadioButton />
                  <label class="k-label" class="ms-2" [for]="exportSheet">Export Sheet</label>
                </div>
                <div class="mb-2">
                  <input type="radio" name="excelOption" value="aboveFiveCentCarat" #aboveFiveCentCarat [(ngModel)]="excelOption"
                    kendoRadioButton />
                  <label class="k-label" class="ms-2" [for]="aboveFiveCentCarat">Above & Below 0.50 CT Sheet</label>
                </div>
                <div class="col-md-12 px-1">
                  <div class="text-center pb-2">
                    <button class="btn btn-primary w-100" [disabled]="excelOption == null" (click)="exportToExcel()">
                      <i class="icon-excelnew"></i> Export to Excel
                    </button>
                  </div>
                </div>
              </div>
            </kendo-popup>
          </div>
        </div>
        <div class="content_box">
          <div class="grid-wrap grid-summury">
            <!-- Skeleton start -->
            <ng-container *ngIf="!gridView">
              <div class="k-grouping-header k-grouping-header-flex">
                <div class="k-indicator-container">
                  <kendo-skeleton shape="text" animation="wave" [width]="400" [height]="40">
                  </kendo-skeleton>
                </div>
              </div>
              <table *ngIf="fields && fields.length > 0" class="w-100">
                <th *ngFor="let field of fields">{{field.propertyName}}</th>
                <tr *ngFor="let field of skeletonArray">
                  <td *ngFor="let field of fields">
                    <kendo-skeleton shape="text" animation="wave" [width]="75" [height]="40">
                    </kendo-skeleton>
                  </td>
                </tr>
              </table>
            </ng-container>
            <!-- Skeleton end -->

            <kendo-grid #memoGrid *ngIf="gridView" [data]="gridView" [reorderable]="true" [resizable]="true"
              [groupable]="true" [sortable]="true" [selectable]="selectableSettings" (dblclick)="dblClick()"
              (selectionChange)="selectedRowChange($event)" [group]="groups" (groupChange)="groupChange($event)"
              [pageSize]="pageSize" [skip]="skip" [pageable]="true" (pageChange)="pageChange($event)"
              [(selectedKeys)]="mySelection" [kendoGridSelectBy]="'id'">
              <ng-container *ngIf="fields && fields.length > 0">
                <ng-container *ngFor="let field of fields">
                  <ng-container *ngIf="field.isSelected">
                    <kendo-grid-column [width]="field.width" [field]="field.propertyName" [title]="field.title">

                      <ng-template kendoGridCellTemplate let-dataItem *ngIf="field.title=='Issue'">
                        <span>{{dataItem.inventoryItems.length}}</span>
                      </ng-template>
                      <ng-template kendoGridCellTemplate let-dataItem *ngIf="field.title=='Pending'">
                        <span>{{dataItem.inventoryItems | memofilter:'issue'}}</span>
                      </ng-template>
                      <ng-template kendoGridCellTemplate let-dataItem *ngIf="field.title=='Received'">
                        <span>{{dataItem.inventoryItems | memofilter:'receive'}}</span>
                      </ng-template>
                      <ng-template kendoGridCellTemplate let-dataItem *ngIf="field.propertyName == 'expiredDays'">
                        <!-- <div [ngClass]="{ 'table-blink-bg': dateDiffCountValue(dataItem.expiredDate) == -1}"
                                                        class="position-relative"> -->
                        {{dataItem.expiredDays }}
                        <!-- </div> -->
                      </ng-template>
                      <ng-template kendoGridCellTemplate let-dataItem *ngIf="field.propertyName == 'createdDate'">
                        {{dataItem.createdDate | date: 'dd-MM-yyyy'}}
                      </ng-template>
                      <ng-template kendoGridCellTemplate let-dataItem *ngIf="field.propertyName == 'expiredDate'">
                        <div
                          [ngClass]="{ 'table-bg-red': dateDiffCountValue(dataItem.expiredDate) >= 0 , 'table-blink-bg': dateDiffCountValue(dataItem.expiredDate) == -1}"
                          class="position-relative">
                          {{dataItem.expiredDate | date:'dd-MM-yyyy'}}</div>
                      </ng-template>
                      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex"
                        *ngIf="field.propertyName == 'isOverseas'">
                        <input type="checkbox" class="k-checkbox" id="checkbox-isOverseas-{{rowIndex}}"
                          [checked]="dataItem.isOverseas" [disabled]="true" />
                        <label class="k-checkbox-label" for="checkbox-{{rowIndex}}">
                        </label>
                      </ng-template>
                      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex"
                        *ngIf="field.propertyName == 'isFullReceive'">
                        <input type="checkbox" class="k-checkbox" id="checkbox-isFullReceive-{{rowIndex}}"
                          [checked]="dataItem.isFullReceive" [disabled]="true" />
                        <label class="k-checkbox-label" for="checkbox-{{rowIndex}}">
                        </label>
                      </ng-template>
                      <ng-template kendoGridCellTemplate let-dataItem *ngIf="field.propertyName=='memoNo'">
                        <a style="color: blue" href="javascript:void(0)"
                          (click)="memoGet(dataItem.id)">{{dataItem.memoNo}}
                        </a>
                      </ng-template>

                    </kendo-grid-column>
                  </ng-container>
                </ng-container>
              </ng-container>
            </kendo-grid>
          </div>
        </div>
      </div>

      <!-- Search start -->
      <div class="e-right">
        <div class="sr-wrap" [ngClass]="{'active': filterFlag}">
          <div class="sr">
            <h6>Search By Filter</h6>
            <form name="form" #memoSearchForm="ngForm" novalidate>
              <div class="i-form">
                <div class="row">

                  <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12 form-data">
                    <label for="l-name">Party</label>
                    <kendo-combobox class="w-100" [data]="listPartyItems" [allowCustom]="allowCustom"
                      [kendoDropDownFilter]="filterSettings" textField="text" valueField="value" name="Party"
                      [(ngModel)]="memoSearchCriteria.party" [valuePrimitive]="true" [popupSettings]="{width: 'auto'}">
                    </kendo-combobox>
                  </div>

                  <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12 form-data">
                    <label for="l-name">StoneId</label>
                    <input type="text" id="l-name" name="filterStoneId" [(ngModel)]="stoneId" #filterStoneId="ngModel">
                  </div>

                  <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12 form-data">
                    <label for="l-name">Certi No</label>
                    <input type="text" id="l-name" name="filterCertiNo" [(ngModel)]="certificateNo"
                      #filterCertiNo="ngModel">
                  </div>

                  <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12 form-data check-box">
                    <input type="checkbox" name="isRecievedFlag" class="k-checkbox"
                      [(ngModel)]="memoSearchCriteria.isRecieved" #isRecievedFlag="ngModel" />
                    <label for="a-employee">Only Received Memo</label>
                  </div>

                  <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12 form-data check-box">
                    <ng2-tri-state-checkbox name="isOverseasFlag" [(ngModel)]="memoSearchCriteria.isOverseas"
                      #isOverseasFlag="ngModel">
                    </ng2-tri-state-checkbox>
                    <label for="a-employee">Overseas Memo</label>
                  </div>

                  <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12 form-data social">
                    <button class="btn btn-action"
                      (click)="memoSearchForm.form.valid && onFilterSubmit(memoSearchForm)">
                      <i class="icon-search"></i>Search
                    </button>
                    <button (click)="clearFilter(memoSearchForm)" class="btn btn-action">
                      <i class="icon-clear"></i>Clear
                    </button>
                  </div>

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Search End -->
    </div>
    <div class="f-btn" [ngClass]="{'active': filterFlag}">
      <ul>
        <li><button class="open-filter" (click)="filterPartToggle()"><i class="icon-filter"></i></button></li>
        <li><button (click)="memoSearchForm.form.valid && onFilterSubmit(memoSearchForm)"><i
              class="icon-search"></i></button></li>
        <li><button (click)="clearFilter(memoSearchForm)"><i class="icon-clear"></i></button></li>
      </ul>
    </div>
  </div>
</section>

<!-- #region Memo Model-->
<ng-container *ngIf="isMemo">
  <app-memo (toggle)="closeMemoDialog($event)" [isVisiable]="isVisiable" [isViewOnly]="isViewOnly"
    [isReceive]="isReceive" [isEdit]="isEdit" [selectedMemo]="memoObj">
  </app-memo>
</ng-container>
<!-- #endregion -->

<div kendoDialogContainer></div>