<section class="whyp_sec bg_theme">
  <div class="cus_container">
    <div class="sec_title">
      <span>{{"BasicText.WhyTitle" | translate}}</span>
      <img src="../../../assets/images/svg/title_diaIcon.svg" class="img-fluid" alt="diamond icon">
    </div>
    <div class="bg_content">
      <div class="grid_wrap">
        <p>{{"WhyUs.description1" | translate}}</p>
        <p>{{"WhyUs.description2" | translate}}</p>
        <p>{{"WhyUs.description3" | translate}}</p>
      </div>
    </div>
  </div>
</section>