<section class="diainfo_sec bg_theme">
    <div class="cus_container">
        <div class="sec_title">
            <span>{{"BasicText.DiaInfoTitle" | translate}}</span>
            <img src="../../../assets/images/svg/title_diaIcon.svg" class="img-fluid" alt="diamond icon">
        </div>

        <div class="content_wrap condition-point" id="fourc">
            <h4 class="bloc_title">
                <img alt="img" src="../../../assets/images/fourc_diIcon.png" />
                {{"BasicText.FCut" | translate}}
            </h4>
            <div class="bg_content">
                <p>{{"fourcs.description" | translate}}</p>
                <h3>{{"fourcs.CUT" | translate}}</h3>
                <p>{{"fourcs.descCUT" | translate}}</p>
                <h3>{{"fourcs.COLOR" | translate}}</h3>
                <p>{{"fourcs.descCOLOR" | translate}}</p>
                <h3>{{"fourcs.CLARITY" | translate}}</h3>
                <p>{{"fourcs.descCLARITY" | translate}}</p>
                <h3>{{"fourcs.CARAT" | translate}}</h3>
                <p>{{"fourcs.descCARAT" | translate}}</p>
            </div>
            <div class="move_btn">
                <a class="d" (click)="scrollToSection('#wholesale')">{{"BasicText.Wholesale" | translate}}</a>
                <a class="d" (click)="scrollToSection('#certified')">{{"BasicText.Cert" | translate}}</a>
                <a class="d" (click)="scrollToSection('#loose')">{{"BasicText.Loose" | translate}}</a>
                <a class="d" (click)="scrollToSection('#fancy')">{{"BasicText.Fancy" | translate}}</a>
            </div>
        </div>

        <div class="content_wrap condition-point" id="cutPolish">
            <h4 class="bloc_title">
                <img alt="img" src="../../../assets/images/cutpolish_diIcon.png" />
                {{"BasicText.C&Pd" | translate}}
            </h4>
            <div class="bg_content">
                <p>{{"cutpolish.description1" | translate}}</p>
                <p>{{"cutpolish.description2" | translate}}</p>
                <p>{{"cutpolish.description3" | translate}}</p>
            </div>
            <div class="move_btn">
                <a class="u" (click)="scrollToSection('#fourc')">{{"BasicText.FCut" | translate}}</a>
                <a class="d" (click)="scrollToSection('#certified')">{{"BasicText.Cert" | translate}}</a>
                <a class="d" (click)="scrollToSection('#loose')">{{"BasicText.Loose" | translate}}</a>
                <a class="d" (click)="scrollToSection('#fancy')">{{"BasicText.Fancy" | translate}}</a>
            </div>
        </div>

        <div class="content_wrap condition-point" id="wholesale">
            <h4 class="bloc_title">
                <img alt="img" src="../../../assets/images/wholesale_diIcon.png" />
                {{"BasicText.WsaleDia" | translate}}
            </h4>
            <div class="bg_content">
                <p>{{"WholesaleDiamonds.description1" | translate}}</p>
                <p>{{"WholesaleDiamonds.description2" | translate}}</p>
                <p>{{"WholesaleDiamonds.description3" | translate}}</p>
            </div>
            <div class="move_btn">
                <a class="u" (click)="scrollToSection('#fourc')">{{"BasicText.FCut" | translate}}</a>
                <a class="u" (click)="scrollToSection('#cutPolish')">{{"BasicText.CP" | translate}}</a>
                <a class="d" (click)="scrollToSection('#loose')">{{"BasicText.Loose" | translate}}</a>
                <a class="d" (click)="scrollToSection('#fancy')">{{"BasicText.Fancy" | translate}}</a>
            </div>
        </div>

        <div class="content_wrap condition-point" id="certified">
            <h4 class="bloc_title">
                <img alt="img" src="../../../assets/images/certifie_diaIcon.png" />
                {{"BasicText.CerDia" | translate}}
            </h4>
            <div class="bg_content">
                <p>{{"CERTIFIEDDIAMONDS.description1" | translate}}</p>
                <p>{{"CERTIFIEDDIAMONDS.description2" | translate}}</p>
                <p>{{"CERTIFIEDDIAMONDS.description3" | translate}}</p>
                <ul>
                    <li>{{"CERTIFIEDDIAMONDS.description4" | translate}}</li>
                    <li>{{"CERTIFIEDDIAMONDS.description5" | translate}}</li>
                    <li>{{"CERTIFIEDDIAMONDS.description6" | translate}}</li>
                    <li>{{"CERTIFIEDDIAMONDS.description7" | translate}}</li>
                    <li>{{"CERTIFIEDDIAMONDS.description8" | translate}}</li>
                    <li>{{"CERTIFIEDDIAMONDS.description9" | translate}}</li>
                    <li>{{"CERTIFIEDDIAMONDS.description10" | translate}}</li>
                    <li>{{"CERTIFIEDDIAMONDS.description11" | translate}}</li>
                    <li>{{"CERTIFIEDDIAMONDS.description12" | translate}}</li>
                    <li>{{"CERTIFIEDDIAMONDS.description13" | translate}}</li>
                    <li>{{"CERTIFIEDDIAMONDS.description14" | translate}}</li>
                    <li>{{"CERTIFIEDDIAMONDS.description15" | translate}}</li>
                    <li>{{"CERTIFIEDDIAMONDS.description16" | translate}}</li>
                    <li>{{"CERTIFIEDDIAMONDS.description17" | translate}}</li>
                    <li>{{"CERTIFIEDDIAMONDS.description18" | translate}}</li>
                    <li>{{"CERTIFIEDDIAMONDS.description19" | translate}}</li>
                    <li>{{"CERTIFIEDDIAMONDS.description20" | translate}}</li>
                    <li>{{"CERTIFIEDDIAMONDS.description21" | translate}}</li>
                    <li>{{"CERTIFIEDDIAMONDS.description22" | translate}}</li>
                </ul>
            </div>
            <div class="move_btn">
                <a class="u" (click)="scrollToSection('#fourc')">{{"BasicText.FCut" | translate}}</a>
                <a class="u" (click)="scrollToSection('#cutPolish')">{{"BasicText.CP" | translate}}</a>
                <a class="u" (click)="scrollToSection('#wholesale')">{{"BasicText.Wholesale" | translate}}</a>
                <a class="d" (click)="scrollToSection('#fancy')">{{"BasicText.Fancy" | translate}}</a>
            </div>
        </div>

        <div class="content_wrap condition-point" id="loose">
            <h4 class="bloc_title">
                <img alt="img" src="../../../assets/images/loose_diIcon.png" />
                {{"BasicText.LooseDia" | translate}}
            </h4>
            <div class="bg_content">
                <p>{{"LooseDiamonds.description1" | translate}}</p>
                <p>{{"LooseDiamonds.description2" | translate}}</p>
                <p>{{"LooseDiamonds.description3" | translate}}</p>
            </div>
            <div class="move_btn">
                <a class="u" (click)="scrollToSection('#fourc')">{{"BasicText.FCut" | translate}}</a>
                <a class="u" (click)="scrollToSection('#cutPolish')">{{"BasicText.CP" | translate}}</a>
                <a class="u" (click)="scrollToSection('#wholesale')">{{"BasicText.Wholesale" | translate}}</a>
                <a class="u" (click)="scrollToSection('#certified')">{{"BasicText.Cert" | translate}}</a>
            </div>
        </div>

        <div class="content_wrap condition-point" id="fancy">
            <h4 class="bloc_title">
                <img alt="img" src="../../../assets/images/fancy_diIcon.png" />
                {{"BasicText.FancyDia" | translate}}
            </h4>
            <div class="bg_content">
                <p>{{"FancyDiamonds.description1" | translate}}</p>
                <p>{{"FancyDiamonds.description2" | translate}}</p>
                <p>{{"FancyDiamonds.description3" | translate}}</p>
            </div>
            <div class="move_btn">
                <a class="u" (click)="scrollToSection('#fourc')">{{"BasicText.FCut" | translate}}</a>
                <a class="u" (click)="scrollToSection('#cutPolish')">{{"BasicText.CP" | translate}}</a>
                <a class="u" (click)="scrollToSection('#wholesale')">{{"BasicText.Wholesale" | translate}}</a>
                <a class="u" (click)="scrollToSection('#certified')">{{"BasicText.Cert" | translate}}</a>
            </div>
        </div>

    </div>
</section>